imgpath: ../../static/img/51
indexpath: ..
englishpath: ../../51/

<!-- PROP 51 -->

{% extends "base-es.html" %}


{% block title %}Edúcate sobre de las propuestas del estado de California | Propuesta 51{% endblock title %}
{% block meta-description %}<meta name="description" content="California Proposición 51 pone $9B para construir y mejorar las escuelas">{% endblock meta-description %}


{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p51-color"></div>
	<div class="prop-banner-img p51-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p51-comp-color">51</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">pone $9B para construir y mejorar las escuelas</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Resumen</div>
				<div class="prop-text">Si es aprobado, el estado daría 9 mil millones en bonos de obligación general (por ejemplo, deudas pagados con interés, pagados por contribuyentes) para proyectos de construcciones de colegios.</div>
<!-- 				<div class="prop-factors-section">
				<span class="prop-factors">La complejidad del asunto: </span><span class="emoji">🤔🤔<span class="faded">🤔🤔🤔</span></span><br>
				<span class="prop-factors">Cuánto dinero involucra: </span><span class="emoji">💸💸💸<span class="faded">💸💸</span></span><br>
				<span class="prop-factors">Apoyo desequilibrada? </span><span class="prop-factor-answers">Hacia Sí</span><br>
				<span class="prop-factors">Quienes están más afectados? </span><span class="prop-factor-answers">Las escuelas, las empresas de construcción</span><br>
				</div> -->

				<div class="prop-title">Entiendo, ¿por qué alguien no querria hacer esto?</div>
				<div class="prop-text">El debate no es sobre si las escuelas deben obtener dinero. Muchas escuelas están en mal estado y no se ha aprobado un bono desde 2006.<sup><a href="#3">[3]</a></sup>  Oponentes, entre ellos el gobernador Jerry Brown, se oponen por que añade $ 500M de deuda cada año al presupuesto, para ellos  las empresas de construcción son las que saquan ganancia y no los distritos escolares más necesitados.<sup><a href="#10">[10]</a></sup> Brown dice que el legislador puede hacer una mejor propuesta. Los partidarios señalan que las escuelas realmente lo necesitan en este momento.<sup><a href="#11">[11]</a></sup></div>
				<div class="prop-title">¿Por qué está incluido en la papeleta?</div>
				<div class="prop-text">La legislatura del estado trató de poner un acto similar en la votación en 2014, pero el gobernador Jerry Brown, se opuso. Esta proposición fue creado por un grupo formado por los distritos escolares y grupos de construcción para eludir el gobierno del estado y obtener dinero para los proyectos de construcción de escuelas en necesidad.<sup><a href="#4">[4]</a></sup></div>
			</div>
		</div>
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Del teléfono de Gobernador Jerry Brown</div>
				<section>
				    <div class="from-them">
						No manchen, escuelas!
				    </div>
					<div class="clear"></div>
				    <div class="from-me">
				      How did you get my number?
				    </div>
				  <div class="clear"></div>
				    <div class="from-them">
						Just this year, a school had to cancel class because sewage leaked into the classrooms.
				    </div>
				    <div class="prop-chat-source source-left"><a href="#5">[5]</a></div>
				  <div class="clear"></div>
				    <div class="from-me">
				      Yes, schools need more money, but Prop 51 squanders money and promotes sprawl.
				    </div>
				    <div class="from-me">
				    	The wealthiest school districts will use their consultants to get to the money first.
				    </div>
				    <div class="prop-chat-source source-right"><a href="#10">[10]</a></div>
				   <div class="clear"></div>
				    <div class="from-them">
						The state program that figures out how schools are built/maintained already favors the affluent by being first-come first-serve.
				    </div>
				    <div class="prop-chat-source source-left"><a href="#10">[10]</a></div>
				   <div class="clear"></div>
				    <div class="from-me">
				      51 doesn't solve the problems. It puts us half a billion more in debt every year, and it primarily benefits construction groups.
				    </div>
				    <div class="prop-chat-source source-right"><a href="#8">[8]</a></div>
				    <div class="from-me">
				      We shoud be focusing on the districts most in need. 
				    </div>
				  <div class="clear"></div>
				    <div class="from-them">
				      Well why don't you propose a better idea?
				    </div>
				  <div class="clear"></div>
				    <div class="from-me">
				      I've been trying to get the funding to a more local level (because they're better at this), but we don't have time to submit an alternative by Nov.
				    </div>
				    <div class="prop-chat-source source-right"><a href="#4">[4]</a></div>
				  <div class="clear"></div>
				    <div class="from-them">
						The schools need money now. It's an investment. It's been 10 years since the last education bond.
					</div>
				    <div class="prop-chat-source source-left"><a href="#3">[3]</a></div>
				     <div class="clear"></div>
				    <div class="from-me">
				      Good things take time.
				    </div>
				  </section>
			</div>
		</div>
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Más cosas para leer</div>
				<div class="prop-sources">
					Última actualización: 16 Sept 2016<br><br>
					<div class="prop-sources-title">Información mas o menos imparcial</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop51">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_51,_Public_School_Facility_Bonds_(2016)">Ballotpedia details</a><br>
					[3] <a id='3' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=51&year=2016">Legislative Analyst's Office summary</a><br>
					[4] <a id='4' target='_blank' href="http://ww2.kqed.org/news/2015/01/23/showdown-looms-over-california-school-construction-needs/">KQED: some historical context</a><br>
					[5] <a id='5' target='_blank' href="http://www.nytimes.com/2016/09/12/us/california-today-school-construction-bond-measure.html">NYTimes: synoposis and why you should care</a><br>
					[6] <a id='6' target='_blank' href="https://ww2.kqed.org/forum/2016/09/22/prop-51-seeks-9-billion-in-bonds-for-public-school-construction-projects/">KQED podcast: live debate</a><br>
					<div class="prop-sources-title">Argumentos a favor de la Propuesta 51</div>
					[7] <a id='7' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Chronicle-recommends-Yes-on-Prop-51-9213832.php">SF Chronicle editorial board support</a><br>
					<div class="prop-sources-title">Argumentos en contra de la Propuesta 51</div>
					[8] <a id='8' target='_blank' href="http://www.mercurynews.com/2016/07/27/mercury-news-editorial-proposition-51-school-bond-deserves-a-rare-no-vote/">Mercury News editorial board </a><br>
					[9] <a id='9' target='_blank' href="http://www.sandiegouniontribune.com/news/2016/feb/14/brown-school-construction-bond-critic/">San Diego Tribune Op-ed</a><br>
					[10] <a id='10' target='_blank' href="http://www.latimes.com/local/education/la-me-pol-sac-jerry-brown-school-bond-20160212-story.html">Gov. Jerry Brown opposes the measure</a>
					[11] <a id='11' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-proposition-51-20160921-snap-story.html">LA Times Editorial Board</a>
					{% include 'disclaimer-es.html' %}
				</div>
			</div>
		</div>

	</div>

{% endblock content%}
