imgpath: ../../static/img/53
indexpath: ..
	englishpath: ../../53
<!-- PROP 53 -->

{% extends "base-es.html" %}



{% block title %}Edúcate sobre de las propuestas del estado de California | Propuesta 53{% endblock title %}
{% block meta-description %}<meta name="description" content="California Propocisión 53 requiere que los proyetos de infraestrctura estatales de más de $ 2B sean apbrobados por un voto">{% endblock meta-description %}

{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p53-color"></div>
	<div class="prop-banner-img p53-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p53-comp-color">53</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">requiere que los proyetos de infraestrctura estatales de más de $ 2B sean apbrobados por un voto</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Resumen</div>
				<div class="prop-text">Esto es un poco denso, así que vamos a descifrar el vocabulario aquí abajo.<br><br>Cuando el estado decide la construcción de un proyecto de infraestructura pública, emite bonos de ingresos - la deuda que se paga por el uso del proyecto. Por ejemplo, si se trata de un puente, el dinero del peaje va a pagar el costo de la construcción. Si se trata de un hospital, los usuarios pagan los gastos de hospital, que vienen a pagar el bono de ingresos. Por el momento, bonos de ingresos no tienen que ser votado por el público.
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<img class="prop-inline-img" src="{{imgpath}}/revenuebonds.png">
				<div class="inline-img-caption">Graphic provided by the Legislative Analyst's Office<sup><a href="#3">[3]</a></sup></div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-text">
				Si la Propuesta 53 pasa, bonos de ingresos de $ 2 mil millones o más (por ejemplo $ 60 billón que cuesta el tren de alta velocidad entre SF y LA) requeriría la aprobación de los votantes del estado antes de empezar. La intención de la propuesta es evitar que la deuda estatal sea masiva a causa de proyectos mal planificados o financiados. En la actualidad, no está claro si esto podría afectar los proyectos locales. Si lo hiciera, la gente en Los Ángeles, por ejemplo, tendrían que votar sobre algo que sólo afecta a SF. Ninguna de las partes quiere eso.<sup><a href="#4">[4]</a></sup> </div>
<!-- 				<div class="prop-factors-section">
				<span class="prop-factors">Complexity of issue: </span><span class="emoji">🤔🤔🤔🤔<span class="faded">🤔</span></span><br>
				<span class="prop-factors">Money involved: </span><span class="emoji">💸💸💸<span class="faded">💸💸</span></span><br>
				<span class="prop-factors">Lopsided support? </span><span class="prop-factor-answers">Mostly towards No</span><br>
				<span class="prop-factors">Projects affected? </span><span class="prop-factor-answers"><a target="_blank" href="https://en.wikipedia.org/wiki/California_High-Speed_Rail">High Speed Rail</a>, <a target="_blank"  href="http://www.usnews.com/news/us/articles/2016-03-18/things-to-know-about-californias-giant-twin-tunnels-project">Twin Tunnels Project</a></span><br>
				</div> -->


				<div class="prop-title">¿Y Por qué me importa?</div>
				<div class="prop-text">Mira, digamos que el tren de alta velocidad se construye, y nadie lo utiliza porque está invadido de ratas. ratas de alta velocidad. Para pagar la fianza, el estado tiene que sacar del Fondo General (es decir, dinero de impuestos). Por lo tanto, tiene sentido que tu tengas derecho a decidir si un proyecto debe ser construido o no, ¿verdad? Tu, como contribuyente, estás pagando por ello si falla. Pues bien, la oposición dice que los bonos de ingresos no ponen los contribuyentes en situación de riesgo, sino a los usuarios. <sup><a href="#4">[4 @ 19:00, 25:55]</a></sup> Si el tren de alta velocidad eta en exceso de presupuesto, entonces el precio de un boleto simplemente se vuelve más caro. (Si sigues esta línea de pensamiento finalmente, llegas otra vez a tu y yo que pagamos impuestos.)</div>

				<div class="prop-title">¿Por qué se incluye en la votación?</div>
				<div class="prop-text">Dino Cortopassi, agricultor y philathropo, ha gastado más de $ 4 millones de dólares para obtener este pasó, en un esfuerzo por detener la "deuda de cheque en blanco" de los legisladores. Algunos dicen que esta medida debe detener personalmente el proyecto túneles gemelos o tren de alta velocidad.<sup><a href="#8">[8]</a></sup></div>

				<div class="prop-title">Cualquier trampas?</div>
				<div class="prop-text">La propuesta no tiene excepciones para casos de emergencia, como un desastre natural.<sup><a href="#1">[1]</a></sup> Los autores sostienen que no habría un bono de ingresos en el primer lugar.<sup><a href="#4">[4]</a></sup> Pero hay un ejemplo en el año 1910.<sup><a href="#4">[4 @ 22:40]</a></sup> [No hemos podido verificar el ejemplo citan en el podcast. ¿Alguna pista?]

				</div>



			</div>
		</div>
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Más cosas para leer</div>
				<div class="prop-sources">
					Última actualización: 28 Sept 2016<br><br>
					<div class="prop-sources-title">Información mas o menos imparcial</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop53">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_53,_Voter_Approval_Requirement_for_Revenue_Bonds_above_$2_Billion_(2016)">Ballotpedia details</a><br>
					[3] <a id='3' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=53&year=2016">Legislative Analyst's Office summary</a><br>
					[4] <a id='4' target='_blank' href="https://ww2.kqed.org/forum/2016/09/16/california-prop-53-would-expand-voter-approval-to-revenue-bonds/">KQED: podcast debate</a><br>
					<div class="prop-sources-title">Argumentos a favor de la Propuesta 53</div>
					[6] <a id='6' target='_blank' href="http://www.vvdailypress.com/opinion/20160827/our-view-prop-53-deserves-yes-vote-in-november">Daily Press Editorial</a><br>
					<div class="prop-sources-title">Argumentos en contra de la Propuesta 53</div>
					[7] <a id='7' target='_blank' href="http://www.mercurynews.com/2016/08/11/mercury-news-editorial-reject-prop-53-requiring-statewide-revenue-bond-approval/">Mercury News Editorial</a><br>
					[8] <a id='8' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/A-one-man-crusade-isn-t-the-way-to-run-9193825.php">SF Chronicle Editorial</a>
					{% include 'disclaimer-es.html' %}



				</div>
			</div>
		</div>

	</div>

{% endblock content%}
