imgpath: ../../static/img/54
indexpath: ..
englishpath: ../../54
<!-- PROP 54 -->

{% extends "base-es.html" %}



{% block title %}Edúcate sobre de las propuestas del estado de California | Propuesta 54{% endblock title %}
{% block meta-description %}<meta name="description" content="California Propocisión 54 requiere que antes de la votación, las facturas pueden poner en Internet durante 3 días">{% endblock meta-description %}
{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p54-color"></div>
	<div class="prop-banner-img p54-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p54-comp-color">54</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">requiere que antes de la votación, las facturas pueden poner en Internet</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Resumen</div>
				<div class="prop-text">Esta medida requeriría que las leyes se impriman (osea, papel) y se publiquen en el internet 72 horas antes de que la Legislatura estatal vote en ellas. También requiere que todos los procedimientos públicos se graben y se publiquen en el internet dentro de las 24 horas. Super futuristica la cosa, sí? Esperete.
				</div>

<!-- 				<div class="prop-factors-section">
				<span class="prop-factors">Complexity of issue: </span><span class="emoji">🤔<span class="faded">🤔🤔🤔🤔</span></span><br>
				<span class="prop-factors">Money involved: </span><span class="emoji">💸💸<span class="faded">💸💸💸</span></span><br>
				<span class="prop-factors">Lopsided support? </span><span class="prop-factor-answers">towards Yes</span><br>
				<br>
				</div>
 -->
				<div class="prop-title">Dime más.</div>
				<div class="prop-text">Su intención es evitar que grupos de intereses especiales cambien la legislatura a última hora y que luego esto sea ratificado. Curiosamente, aquellos que se oponen a esta propuesta dicen lo mismo: que las facturas y los legisladores serán más propensos a ser influenciados por grupos de intereses especiales, dándoles <em>más</em> tiempo<sup><a src="#7">[7]</a></sup> Los defensores dicen que esto es simplemente transparencia; oponentes dicen que esto va a interrumpir el proceso legislativo. Cualquier cambio, incluyendo un error tipográfico o faltan comas, requeriría otras 72 horas.
				<br><br>Y en caso de que el gobernador declare un estado de emergencia, esta demora de 72 horas puede ser levantada con un voto de dos tercios.<sup><a href="#3">[3]</a></sup></div>
			</div>
		</div>
		
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Más cosas para leer</div>
				<div class="prop-sources">
					Última actualización: 25 Sept 2016<br><br>
					<div class="prop-sources-title">Información mas o menos imparcial</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop54">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_54,_Public_Display_of_Legislative_Bills_Prior_to_Vote_(2016)">Ballotpedia details</a><br>
					[3] <a id='3' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=54&year=2016">Legislative Analyst's Office summary</a><br>
					<div class="prop-sources-title">Argumentos a favor de la Propuesta 54</div>
					[4] <a id='4' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Only-voters-can-bring-transparency-to-Legislature-8337551.php">SF Chronicle Editorial Board</a><br>
					[5] <a id='5' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-proposition-54-20160913-snap-story.html">LA Times Editorial Board</a><br>
					[6] <a id='6' target='_blank' href="http://www.santacruzsentinel.com/article/NE/20160831/LOCAL1/160839913">Santa Cruz Sentinel Editorial Board</a><br>
					<div class="prop-sources-title">Argumentos en contra de la Propuesta 54</div>
					[7] <a id='7' target='_blank' href="http://www.sacbee.com/opinion/op-ed/soapbox/article106228617.html">Former state senator: op-ed</a><br>
					[?] No known editorial board opposes this. Please <a href="mailto:fax@ballot.fyi">email</a> if you find one. 
					{% include 'disclaimer-es.html' %}
				</div>
			</div>
		</div>

	</div>

{% endblock content%}
