imgpath: ../../static/img/61
indexpath: ..
englishpath: ../../61

<!-- PROP 61 -->

{% extends "base-es.html" %}


{% block title %}California State Propositions – summarized and explained | Prop 61{% endblock title %}
{% block meta-description %}<meta name="description" content="California Prop 61 might lower drug prices for state agencies.">{% endblock meta-description %}

{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p61-color"></div>
	<div class="prop-banner-img p61-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p61-comp-color">61</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">might lower drug prices for state agencies</div>
			</div>
		</div>
		
		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Summary</div>
				<div class="prop-text">The reason that it <em>might</em> lower drug prices is that if the measure passes, they are not sure how drug manufacturers would respond. This prop feels like a game of chess.
				<br><br>
				Let's take a step back. The intent is to lower costs for the state (and tax-payers), which could pay varying prices for the same drug. These drugs go to patients under care of the state, like people on Medi-Cal or those in Veteran Affairs (VA). Drug prices vary because, in the drug industry, a contract is negotiated to determine the price. And sometimes, that contract remains confidential and the price hidden. So for example, Medi-Cal might negotiate a contract with Example Pharma Co. and for the same drug, the VA might negotiate a separate price (because of factors such as quantity bought, competition, etc). In fact, the VA often has the lowest prices. But because some contracts are confidential, no one is sure.
				<br><br>
				And oh yeah, the state might pay for these drugs at <em>yet another</em> price by, for example, reimbursing pharmacies if the customer (like you) is part of state programs. They pay what the Example Pharma Co. negotiated with the <em>pharmacy</em>.
				<br><br>TL;DR. the state doesn't want to pay different prices for the same thing, and wants the lowest price. But, they can't control the drug manufacturers, just their state agencies, so Prop 61 would forbid state agencies from paying more than what the VA pays, no matter how it's paid. They're essentially trying to force drug manufacturers to lower their prices for all state agencies.
				</div>
				<div class="prop-title"><span id='tldr' data-expanded="Too Long, Didn't Read" class="acronym">TL;DR</span> that either.</div>
				<div class="prop-text">
					Prop 61 would forbid the state from buying a drug that's priced higher than what the Veteran Affairs (VA) pays. Here's what would happen if Prop 61 passes.
					<div class="prop-discussion">
						<span class="prop-sources-title">State Agency</span>: Hey Drug Company, I want Drug Z for $2 because the VA is paying $2 for it.<br><br>
						<span class="prop-sources-title">Drug Company</span>: No.<br><br>
						<span class="prop-sources-title">State Agency</span>: Shit. Really? I can't buy it unless it's $2 or less.<br><br>
						<span class="prop-sources-title">Drug Company</span>: <span class="acronym" data-expanded="Get the f*** out" id='gtfo'>GTFO</span>.
					</div>
					But it's possible the drug manufacturers can't afford to lose California as its customer. In which case, to maintain the same level of profits, drug manufacturers would <em>raise</em> prices on the VA to allow other agencies to purchase those drugs at VA prices.
					<div class="prop-discussion">
						<span class="prop-sources-title">State Agency</span>: Hey Drug Company, I want Drug Z for $2... wait, when did it change to $5?<br><br>
						<span class="prop-sources-title">Drug Company</span>: We can't lower prices for everybody, but we also can't lose all you as customers. So you <em>and</em> the VA have to pay $5 for Drug Z.<br><br>
						<span class="prop-sources-title">State Agency</span>: Shit. Really?<br><br>
						<span class="prop-sources-title">Drug Company</span>: <span class="acronym" id='ayfkm' data-expanded="Are you f*cking kidding me">AYFKM</span>? What did you expect?<br><br>
						<span class="prop-sources-title">(State Agency</span>: But you have a monopoly on Drug Z.)
					</div>
					(Last line added as editorial, to extend the hypothetical argument further.) Notably, federal law sets a maximum price for the VA to purchase drugs, meaning hypothetical scenario #2 is bounded. These are the two scenarios the Legislative Analyst's Office lays out.<sup><a href="#3">[3]</a></sup> More likely to happen, is a combination of both scenarios, applied to different drugs. If any of that happens, the state may not save as much money as it hopes. In fact, it might pay more.
				</div>
				<div class="prop-title">So who supports this?</div>
				<div class="prop-text"><em>Consumers Union</em> and <em>Health Access</em>, two groups that work to rein in drug prices and have supported previous bills on regulating drug prices, have not taken a stand or have taken a neutral position on Prop 61.<sup><a href="#7">[7]</a></sup><sup><a href="#5">[5]</a></sup> <em>Yes on 61</em> has raised money through Bernie Sanders' <em>Our Revolution</em> campaign, and Michael Weinstein of <em>The AIDS Healthcare Foundation</em> (the same Michael proposing <a href="{{indexpath}}/60/">Prop 60</a>).</div>
			</div>
		</div>
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-quote">&ldquo;There are good reasons to be outraged at drug pricing by Big Pharma, which sets prices partly from a need to recover research costs but sometimes out of just plain greed. ... Prop 61 is loaded with unknowns, but here’s one sure thing: If it passes, Big Pharma will do everything it can to keep it from working as promised. Otherwise, every state will adopt a similar law.&rdquo;</div><span class="quote-author">–Mercury News Editorial Board, in opposition<sup><a href="#5">[5]</a></sup> </span>
			</div>
		</div>
		

		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Más cosas para leer</div>
				<div class="prop-sources">
					Última actualización: 5 Oct 2016<br><br>
					<div class="prop-sources-title">Información mas o menos imparcial</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop61">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_61,_Drug_Price_Standards_(2016)">Ballotpedia details</a><br>
					[3] <a id='3' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=61&year=2016">Legislative Analyst's Office summary</a><br>
					<div class="prop-sources-title">Argumentos a favor de la Propuesta 61</div>
					[?] No known editorial board supports this. Please <a href="mailto:fax@ballot.fyi">email</a> if you find one. 
					<div class="prop-sources-title">Argumentos en contra de la Propuesta 61</div>
					[4] <a id='4' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Chronicle-recommends-No-on-Proposition-61-9240125.php">SF Chronicle Editorial Board</a><br>
					[5] <a id='5' target='_blank' href="http://www.mercurynews.com/2016/09/19/editorial-vote-no-on-prescription-drug-measure/">Mercury News Editorial Board</a><br>
					[6] <a id='6' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-proposition-61-20160926-snap-story.html">LA Times Editorial Board</a><br>
					[7] <a id='6' target='_blank' href="http://www.sandiegouniontribune.com/opinion/editorials/sd-no-on-prop-61-drug-prices-20161006-story.html">San Diego Union-Tribune Editorial Board</a><br>
					{% include 'disclaimer-es.html' %}
				</div>
			</div>
		</div>
	</div>

{% endblock content%}
