imgpath: ../../static/img/62
indexpath: ..
englishpath: ../../62-66/
<!-- PROP 62 -->

{% extends "base-es.html" %}

{% block title %}Edúcate sobre de las propuestas del estado de California | Prop 62 y 66{% endblock title %}
{% block meta-description %}<meta name="description" content="California Proposición 62 revoca la pena de muerte. Proposición 65 acelerala.">{% endblock meta-description %}

{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p62-color"></div>
	<div class="prop-banner-img p62-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p62-comp-color">62+66</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">revoca o acelera la pena de muerte</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title text-center">¿Qué hacemos con las 748 personas condenadas a muerte?</div>


				<div class="prop-factors-section">
				<span class="prop-factors">La complejidad del asunto: </span><span class="emoji">🤔🤔🤔🤔🤔</span>
				</div>
				<div class="prop-text"> Ok esta propuesta está peluda. En primer lugar, te vamos a explicar cómo las proposiciones que compiten están tratando de arreglar los problemas con la pena a muerte, luego te vamos a presentar argumentos a favor y en contra de las propuestas. Ten en cuenta, que si las dos propuestas pasan, la que tiene la mayoría de los votos gana.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-12">
				<div class="prop-subtitle center-text">Prop 62: derogar la pena de muerte</div>
				<div class="prop-text">
					El objetivo de esta prop es deshacerse de la pena de muerte. Un Sí a la 62:
					<ul>
						<li>Deroga la pena de muerte en California</li>
						<li>Reemplaza la pena con una sentencia de cadena perpetua sin posibilidad de libertad condicional, y se aplica retroactivamente a la gente condenada a muerte.</li>
					</ul>
				</div>
			</div>


			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="prop-subtitle center-text">Prop 66: Acelera el proceso</div>
				<div class="prop-text">El objetivo de esta prop es arreglar la pena de muerte. Un Sí a la 66:
					<ul>
						<li>Mantiene la pena de muerte como pena máxima</li>
						<li>Acelera el proceso de apelación expandiendo los tribunales y abogados que pueden trabajar en estos casos y establecimiento de plazos</li>
						<li>Permite que el estado pueda transferir a los condenados a muerte entre prisiones. En este momento, están todos en San Quentín o Chowchilla.<sup><a href="#3">[3]</a></sup></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="line-division"></div>

		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title text-center">Algunas cosas que igual y no sabías</div>
				<div class="prop-text">Empezando con algunas cosas interesantes, de las 930 personas que han sido condenadas a muerte desde 1978, cuando se promulgó la ley, solamente 15 han sido ejecutados. La última vez que se ejecutó a alguien en California fue hace más de diez años, en 2006.<br><br>¿Por qué es tan difícil de ejecutar a alguien? Bueno, aquí es donde se pone complejo el asunto. Hay (al menos) tres sub-problemas, no son independientes el uno del otro, pero te los vamos a presentar como si fueran.
				<br><br>Vamos a pretender que has sido condenado por asesinato en primer grado y también fuiste condenado a muerte. Spoiler: es probable que pasen décadas antes de que seas ejecutado.
				</div>
			</div>
		</div>
		<div class="line-division"></div>

		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
		
				<div class="prop-title">Problema # 1: demasiados casos, sin cortes o abogados suficientes</div>
				<div class="prop-text">Van a ser una serie de apelaciones largas y demoradas antes de que confirmen tu ejecución. Este <a target="_blank" href="http://www.criminaldefenselawyer.com/resources/criminal-defense/felony-offense/what-death-penalty-appeals-process#">proceso</a> judicialmente necesario se tarda, por varias razones. En la actualidad, sólo el Tribunal Supremo de California puede oír peticiones <em>habeas corpus</em>, y sólo el Tribunal Supremo de California puede asignar a un abogado para estas peticiones.<sup><a href="#3">[3]</a></sup>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-12">
				<div class="prop-subtitle center-text">La respuesta de la Prop 62 (que para la pena de muerte)</div>
				<div class="prop-text">
					<ul>
						<li>Reemplazar la pena de muerte con la vida sin libertad condicional.</li>
						<li>Cualquier apelación pendiente será reasignada a la tribunal de apelación o de primera instancia.</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="prop-subtitle center-text">La respuesta de la Prop 66 (acelera la pena de muerte)</div>
				<div class="prop-text">
					<ul>
						<li>Pone un límite de 5 años en el proceso de apelación.</li>
						<li>Permitiendo que los tribunales inferiores de primera instancia escuchen algunas de las apelaciones.</li>
						<li>Expandiendo la elegibilidad de los abogados disponibles por el estado.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Problema # 2: los condenados a muerte salen caros</div>
				<div class="prop-text">Se podría ahorrar unos casi $150 millones al año si a estos prisioneros se les condena a la vida sin posibilidad de libertad condicional. Estos prisioneros están en régimen de aislamiento, y cada vez que están fuera de sus celdas, son acompañados por uno o dos oficiales. Casi todos los hombres están en la prisión estatal de San Quentín, y las mujeres en la Planta Central de Mujeres de California.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-12">
				<div class="prop-subtitle center-text">La respuesta de la Prop 62: derogola</div>
				<div class="prop-text">
					<ul>
						<li>Derogar la pena de muerte.</li>
						<li>Los presos, se quedaran con sentencia de vida sin posibilidad de libertad condicional, y sin tener que estar en régimen de aislamiento.</li>
						<li>Requieren, con algunas excepciones, que los presos trabajen durante su condena, con el 60% de los salarios a pagar la deuda contraída con las víctimas.</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="prop-subtitle center-text">La respuesta de la Prop 66: acelerarla</div>
				<div class="prop-text">
					<ul>
						<li>Acelera el proceso de apelación y ejecutar a los presos más rápido</li>
						<li>Esta prop permite que presos con pena de muerte sean trasladados a otras prisiones estatales.</li>
						<li>Requiere, con algunas excepciones, que los presos trabajen durante su condena, con el 70% de los salarios pagando la deuda contraída con las víctimas.</li>
					</ul>
				</div>
			</div>
		</div>
				
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Problema #3: inyecciones letales tienen una batalla difícil</div>
				<div class="prop-text">La razón por la que California no ha ejecutado a alguien de 10 años es debido a intensas batallas legales sobre el procedimiento de la inyección letal.<sup><a href="#6">[6]</a></sup> Para complicar más las cosas, de las cuatro posibles combinaciones de medicamentos aprobados, la mitad ya no se producen y no se pueden obtener, y los otros dos nunca se han usado antes en una ejecución.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-12">
				<div class="prop-subtitle center-text">La respuesta de la Prop 62: derogar </div>
				<div class="prop-text">
					<ul>
						<li>Repeal the death penalty, no longer requiring a constitutional procedure for execution.</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="prop-subtitle center-text">Prop 66's solution</div>
				<div class="prop-text">
					<ul>
						<li>Eximir procedimiento de ejecuciones del estado de la Ley de Procedimiento Administrativo, lo que permite efectivamente el estado para crear nuevos métodos de ejecución sin el comentario público o la supervisión.</li>
						<li>Si surgen problemas legales para el método de ejecución (incluyendo órdenes de los tribunales federales), un método debe ser concebido y aprobado.</li>
					</ul>
				</div>
			</div>
		</div>
				
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
				<div class="prop-title">An informed debate</div>
				<section>
				    <div class="from-them">If we repeal the death penalty and replace with life without possibility of parole, the state would save $150 million a year.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="#3">[3]</a></div>
				    <div class="from-them">The state has spent $4B on 15 executions.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="#8">[8]</a></div>
					<div class="clear"></div>
				    <div class="from-me">It's expensive because these criminals wait for decades while their sentence is appealed. $55M a year.</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="#3">[3]</a></div>
				    <div class="from-me">Right now, half of Death Row is waiting for a lawyer.</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="#7">[7]</a></div>
				    <div class="from-me">These people have committed the most heinous crimes. First-degree murder with extra heinous-ness. Imagine if they escaped – they'd have nothing left to lose.</div>
					<div class="clear"></div>
				    <div class="from-them">The death penalty does not deter criminals from committing heinous acts.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="https://www.washingtonpost.com/news/wonk/wp/2014/04/30/theres-still-no-evidence-that-executions-deter-criminals/">[..]</a></div>
				    <div class="from-them">We're the only western country to have capital punishment.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="#8">[8]</a></div>
				    <div class="from-them">Even the guy who wrote the proposition in 1978 to bring back capital punishment in CA now wants it abolished.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="#8">[8]</a></div>
					<div class="clear"></div>
				    <div class="from-me">The reason it hasn't been working is because people like you have been impeding it. By either making lethal injection illegal in various ways, or by extending the petition process.</div>
				    <div class="from-me">I think we both agree the process is broken. We need to fix it.</div>
					<div class="clear"></div>
				    <div class="from-them">Colorado tried a similar law to Prop 66, a two year limit on appeals, and it has failed.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.deathpenaltyinfo.org/node/6513">[..]</a></div>
				</section>
			</div>
		</div>
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title center-text">Informate más</div>
				<div class="prop-sources">
					Última actualización: 9 Oct 2016<br><br>
				<div class="prop-sources-title">Información mas o menos imparcial</div>
					[1] <a id='1' target='_blank' href="#">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_62,_Repeal_of_the_Death_Penalty_(2016)">Ballotpedia details for 62</a><br>
					[3] <a id='3' target='_blank' href="https://ballotpedia.org/California_Proposition_66,_Death_Penalty_Procedures_(2016)">Ballotpedia details for 66</a><br>
					[4] <a id='4' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=62&year=2016">Legislative Analyst's Office summary for 62</a><br>
					[5] <a id='5' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=66&year=2016">Legislative Analyst's Office summary for 66</a><br>
					[6] <a id='6' target='_blank' href="http://deathpenalty.org/article.php?id=862">Legal history of the death penalty in CA</a><br>
				

				<div class="prop-sources-title">Argumentos a favor de la Propuesta 62</div>
					[7] <a id='7' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-prop-62-prop-66-20160826-snap-story.html">LA Times: Yes on 62, No on 66</a><br>
					[8] <a id='8' target='_blank' href="http://www.mercurynews.com/2016/07/14/mercury-news-editorial-abolish-the-death-penalty-vote-yes-on-proposition-62/">Mercury News: Yes on 62, No on 66</a><br>
					[9] <a id='9' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Fight-crime-not-futility-Abolish-death-penalty-9185804.php">SF Chronicle: Yes on 62, No on 66</a><br>
					
				
				<div class="prop-sources-title">Argumentos en contra de la Propuesta 66</div>
					[?] No known editorial board supports 66. Please <a href="mailto:fax@ballot.fyi">email</a> if you find one. 
				
					{% include 'disclaimer-es.html' %}
				</div>
			</div>
			<div class="prop-sources col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-0 col-xs-12">
			</div>
		</div>

	</div>

{% endblock content%}
