imgpath: ../../static/img/63
indexpath: ..
espanolpath: ../espanol/63

<!-- PROP 63 -->

{% extends "base-es.html" %}


{% block title %}Edúcate sobre de las propuestas del estado de California | Prop 63{% endblock title %}
{% block meta-description %}<meta name="description" content="California Prop 63 creates all-around stricter checks on ammunition.">{% endblock meta-description %}

{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p63-color"></div>
	<div class="prop-banner-img p63-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p63-comp-color">63</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">crea estrictos controles acerca de las municiones</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title text-center">Summary</div>
				<div class="prop-text">Esta proposición es una de las piezas que están tratando de crear más comprobaciones en el momento de la venta de municiones. California ya tiene las leyes de armas más estrictas en efecto (algunas de ellas se aprobaron a principios de este año, en lo que los críticos llaman "<a target="_blank" href="http://www.foxnews.com/politics/2016/08/28/second-amendment-backers-arm-up-with-ink-and-paper-to-battle-californias-gunmageddon.html">Gunmageddon</a>" - Súper creativo). Lo que vamos a presentar es como esta el asunto hoy en dia, y lo que sería diferente si la Prop 63 pass. Spoiler: no hay mucho.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-12">
				<div class="prop-subtitle center-text">Hoy en dia</div>
				<div class="prop-text">
					<ul>
						<li>Para comprar municiones hoy, no necesitas un permiso, pero los distribuidores necesitan consultar con el <span class="acronym" id='doj1' data-expanded="Departamento de Justicia">DoJ</span> para asegurarse de que estás en buen estado para comprarlo.</li>
						<li>Para vender municiones, tienes que obtener una licencia de 1 año. Los cazadores que venden 50 rondas o menos cada mes están exentos.</li>
						<li>"Gunmageddon" estableció en la ley que si tu compras municiones fuera del estado, estas tendrán que ser entregado a un proveedor con licencia para que puedas recogerlo en persona. Esto entrara en efecto Julio del 2019.</li>
						<li>Por otra ley que paso, si un arma es robada y vale menos de $ 950, esto se considera como un delito menor.</li>
						<li>Ha sido ilegal comprar revistas de gran capacidad (más de 10 rondas) desde el año 2000, pero si usted era dueño de algunos, que podría mantenerlo.</li>
						<li>Por el momento, es difícil hacer cumplir la eliminación de las armas de fuego de las personas prohibidas (condenados por delitos graves, asalto, o batería; peligroso debido a la enfermedad mental; o tiene una orden de restricción en contra de ellos).<sup><a href="#6">[6]</a></sup></li>
					</ul>
				</div>
			</div>


			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="prop-subtitle center-text">Si la Propuesta 63 pasa</div>
				<div class="prop-text">
					<ul>
						<li>Si quieres comprar munición, ahora tendras que pasar una verificación de antecedentes a través del <span class="acronym" id='doj2' data-expanded="Departamento de Justicia">DoJ</span> y comprar un permiso de 4 años que podría costar $ 50 máx.</li>
						<li>La venta de munición sin licencia se convertiría en un delito menor. Los cazadores de venta de 50 asaltos o menos al mes todavía están exentos.</li>
						<li>Prop 63 todavía requeriría que compras en línea san entregados a un comerciante autorizado, y recogerse en persona, pero sería adelantar la fecha que entre en vigor hasta enero de 2018.</li>
						<li>Si la Propuesta 63 pasa, si un arma es robada y vale menos de $ 950, ahora sería un delito grave.</li>
						<li>Si por casualidad tu tienes revistas de gran capacidad desde antes del 2000, tendrás que disponer de ellos.</li>
						<li>Un proceso judicial se ha configurado para imponer la eliminación de las armas de personas prohibidas.<sup><a href="#3">[3]</a></sup></li>
					</ul> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
					<div class="prop-title center-text">Damelo en breve.</div>
					<div class="prop-text">
						Las leyes de armas se convirtieron súper <a target="_blank" href="http://www.npr.org/sections/thetwo-way/2016/07/01/484399958/6-new-gun-control-laws-enacted-in-california-as-gov-brown-signs-bills">estrictas</a> en julio de este año. Prop 63 modifica las leyes para hacerlas más estrictas. La mayoría de estas leyes no entrarán en vigor hasta más tarde, y es posible que podría haber un referéndum para bloquear las nuevas leyes. <br><br>Para los propietarios de armas, el cambio más grande es el requisito de comprar un permiso para la compra de munición. Podría costar hasta $ 50 y tomará tiempo para procesar la solicitud
					</div>
			</div>
		</div>

		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
				<div class="prop-title">The text debate</div>
				<section>
				    <div class="from-them">Prop 63 is lame.</div>
					<div class="clear"></div>
				    <div class="from-me">Because you're a gun owner?</div>
					<div class="clear"></div>
				    <div class="from-them">Most of the tough laws were passed in July. This is just Gavin Newsome grandstanding.</div>
					<div class="clear"></div>
				    <div class="from-me">Don't you think some of these laws make sense though? Like giving the courts more power to enforce the law that convicts shouldn't have guns.</div>
					<div class="clear"></div>
				    <div class="from-them">Sure, but short of a legal warrant for search and seizure, it won't make a convict give up his or her guns. A $100 fine? Do you think they care about that?</div>
				    <div class="from-them">Just more government overhead.</div>
					<div class="clear"></div>
				    <div class="from-me">Every little bit helps. And you don't think reporting when guns are stolen is good?</div>
					<div class="clear"></div>
				    <div class="from-them">It won't change anything. Any responsible gun owner knows to report theft. Otherwise, they'll be blamed for a murder.</div>
					<div class="clear"></div>
				    <div class="from-me">Okay so might as well make it law. What about owning large-capacity magazines?</div>
					<div class="clear"></div>
				    <div class="from-them">If you've held on to your magazines for 16+ years, why would this law make you give it up?</div>
					<div class="clear"></div>
				    <div class="from-me">And you're not annoyed by the $50 permit? or the need to have ammo delivered to a store first.</div>
					<div class="clear"></div>
				    <div class="from-them">The $50 is particularly annoying because it's just more red tape. Ammo delivered is another inconvenience.</div>
				    <div class="from-them">What happens if the seller ships it to my door by accident? I get a misdemeanor?</div>
					<div class="clear"></div>
				    <div class="from-me">How would they enforce that?</div>
					<div class="clear"></div>
				    <div class="from-them">Now you're thinking...</div>
					<div class="clear"></div>
				    <div class="from-me">Sounds like you agree with the intent of the law, but it sounds like you're saying it won't make us much safer. In general though, more restrictions = less guns in bad people's hands.</div>
					<div class="clear"></div>
				    <div class="from-them">Let's not get into the more guns vs less guns debate. State laws have been shown to be ineffective at reducing murder rates. Agreed that bad guys shouldn't have guns, but at the expense of what rights? </div>
				    <div class="prop-chat-source source-left"><a href="#10">[10]</a></div>
					<div class="clear"></div>
				    <div class="from-me">Another study says that mortality could be decreased with national laws. And California often leads the way in setting the example.</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://www.thelancet.com/journals/lancet/article/PIIS0140-6736%2815%2901026-0/abstract">[..]</a></div>
				    <div class="from-me">I don't own a gun, so I'll probably vote yes.</div>
					<div class="clear"></div>
				    <div class="from-them">And that's why we continue to get shat on, because you think it's not your problem.</div>
				    <div class="from-them">We don't want terrorists communicating, but we'll never allow the govt to listen to our conversations. We don't want bad guys to have guns, but at the expense of what freedoms?</div>
				</section>
			</div>
		</div>
		


		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Más cosas para leer</div>
				<div class="prop-sources">
					Última actualización: 8 Oct 2016<br><br>
					<div class="prop-sources-title">Información mas o menos imparcial</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop63">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_63,_Background_Checks_for_Ammunition_Purchases_and_Large-Capacity_Ammunition_Magazine_Ban_(2016)">Ballotpedia details</a><br>
					[3] <a id='3' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=63&year=2016">Legislative Analyst's Office summary</a><br>
					[4] <a id='4' target='_blank' href="http://www.politifact.com/california/statements/2016/jul/12/firearms-policy-coalition/will-ca-gun-control-measure-criminalize-sharing-bu/">Politifact: Prop 63 won't criminalize sharing ammunition</a><br>
					<div class="prop-sources-title">Argumentos a favor de la Propuesta 63</div>
					[5] <a id='5' target='_blank' href="http://www.sacbee.com/opinion/editorials/article105264986.html">Sac Bee Editorial Board</a><br>
					[6] <a id='6' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Chronicle-recommends-Yes-on-Prop-63-9218383.php">SF Chronicle</a><br>
					[7] <a id='7' target='_blank' href="https://web.archive.org/web/20160815100815/http://www.mercurynews.com/opinion/ci_29918883/mercury-news-editorial-californias-gun-control-opportunity">Mercury News</a><br>
					[8] <a id='8' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-proposition-63-gun-control-20160916-snap-story.html">LA Times</a><br>
					<div class="prop-sources-title">Argumentos en contra de la Propuesta 63</div>
					[9] <a id='9' target='_blank' href="http://www.bakersfield.com/opinion/vote-no-prop-piles-on-redundant-gun-controls/article_c1f810fa-e3bf-5844-9b42-36ee48e1e9bf.html">Bakersfield Californian</a><br>
					[10] <a id='10' target='_blank' href="https://www.bu.edu/today/2016/gun-control-laws/">BU study says state laws are not the answer</a><br>
					{% include 'disclaimer-es.html' %}
				</div>
			</div>
		</div>
	</div>

{% endblock content%}
