imgpath: ../../static/img/64
indexpath: ..
englishpath: ../../64
<!-- PROP 64 -->

{% extends "base-es.html" %}


{% block title %}Edúcate sobre de las propuestas del estado de California | Prop 64{% endblock title %}
{% block meta-description %}<meta name="description" content="California Propicisión 64 legaliza la marijuana.">{% endblock meta-description %}

{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p64-color"></div>
	<div class="prop-banner-img p64-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p64-comp-color">64</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">Legaliza la marijuana</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Resumen</div>
				<div class="prop-text">Legaliza, para gente mayores de 21, la venta y uso de la marijuana recreacional con impuestos y regulación. Hay una gran cantidad de <a target="_blank" href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=64&year=2016">detalles.</a>
				</div>
				
				<div class="prop-subtitle">Cultivación</div>
				<div class="prop-text">
				<ul>
					<li>Es legal cultivar hasta seis plantas en una casa privada. Es ilegal si están desbloqueados o visibles desde un espacio público.</li>
					<li>Si está siendo vendido, el impuesto de cultivación es $9.25/oz de flores secas, o $2.75/oz de hojas secas.</li>
				</ul>
				</div> 	

				<div class="prop-subtitle">Venta y Compra</div>
				<div class="prop-text">
				<ul>
					<li>Negocios y servicios de entrega (En serio, de entrega) tienen que estar licenciados por el estado, incluyendo cooperativas de marihuana que ya existen.</li>
					<li>Negocios que venden marihuana no pueden vender tabaco ni alcohol y no pueden estar situados cerca de espacios relacionado a niños por ejemplo escuelas o guarderías infantiles.</li>
					<li>Comestibles no pueden estar en formas confundibles con cosas que suelen comer niños, por ejemplo gomitas o brownies (por determinar).</li>
					<li>Se puede consumir dentro del local pero no a la vista del público.</li>
					<li>En el momento de venta, el consumidor paga un impuesto de 15% en cualquier producto (pero no se aplica al producto no medicinal).</li>
					<li>Ciudades y provincias pueden imponer sus propios impuestos y restricciones (pero no prohibirlo por completo), por ejemplo crear sus propios licencias o dictar donde los negocios podrían abrir. </li>
					<li>Varias agencias regulatorias distintas regularía distribución, uso de agua, pruebas de uso de pesticidas, impacto ambiental, etiquetación, envase y publicidad, para nombrar un par.</li>
				</ul>
				</div> 

				<div class="prop-subtitle">Using</div>
				<div class="prop-text">
				<ul>
					<li>Fumar está bien en una casa privada o en un negocio que está licenciado para consumo en el local.</li>
					<li>Fumar no está permitido mientras uno está conduciendo, en cualquier espacio público, o en cualquier lugar donde fumar tabaco ya está prohibido (restaurantes, bares, aviones, etcétera).</li>
				</ul>
				</div>
			</div>
		</div>

		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
				<div class="prop-title">An informed conversation</div>
				<section>
				    <div class="from-them">
						I feel morally conflicted.
				    </div>
				    <div class="from-me">
						What's wrong?
				    </div>
					<div class="clear"></div>
				    <div class="from-them">
				     	I'm voting for prop 56, the cigarette tax, but I want to vote for weed legalization.
				    </div>
				    <div class="from-me">
				     	Because you're stopping tobacco, but allowing marijuana? They're very different drugs.
				    </div>
				  <div class="clear"></div>
				    <div class="from-them">
						 I want to tell myself that, but Prop 64 is all about the business of marijuana. We're making another sin industry.
				    </div>
				  <div class="clear"></div>
				    <div class="from-me">
					    Unlike tobacco, it's not nicotine. Not addictive, and there's other ways to consume it.
				    </div>
				   <div class="clear"></div>
				    <div class="from-them">
						Forget about adults for a second. I wouldn't want my kids smoking or eating weed until they're well past Stanford, just like I wouldn't want them smoking cigarettes.
				    </div>
				    <div class="from-them">
						There's a lot of studies that say that until the brain matures at 25, pot could affect brain development, structurally and functionally.
				    </div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.apa.org/monitor/2015/11/marijuana-brain.aspx">[..]</a></div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="https://www.sfn.org/Press-Room/News-Release-Archives/2014/Brain-Changes-Are-Associated-with-Casual-Marijuana-Use-in-Young-Adults">[..]</a></div>
				  <div class="clear"></div>
				    <div class="from-me">
					    That's already a problem though. Kids in Marin can get pot easier than they can get alcohol. Prop 64 would regulate it. Colorado has not seen an increase in youth use.
				    </div>
				    <div class="prop-chat-source source-right"><a href="#10">[10]</a></div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="https://www.washingtonpost.com/news/wonk/wp/2016/06/21/colorado-survey-shows-what-marijuana-legalization-will-do-to-your-kids/">[..]</a></div>
				  <div class="clear"></div>
				  <div class="from-them">But that might be because access is already so easy.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.monitoringthefuture.org/data/15data/15drfig3.pdf">[..]</a></div>
				  <div class="clear"></div>
				  <div class="from-me">If we educate them right, though. It's estimated to bring in $1 billion dollars a year eventually. A portion of that will go to education.</div>
				    <div class="prop-chat-source source-right"><a href="#3">[3]</a></div>
				  <div class="from-me">Also, think about all the other negatives we'll be eliminating.</div>
				  <div class="from-me">Drug crimes often disproportionately affect black and Latino men, and lower socioeconomic people.</div>
				  <div class="clear"></div>
				  <div class="from-them">That's great. But Prop 47 from a while ago already reduced the prison population for non-violent, non-serious drug offenses. Less than 0.3% of the prison population is in because of drugs, and that's probably drugs + something else.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.cdcr.ca.gov/Blueprint-Update-2016/An-Update-to-the-Future-of-California-Corrections-January-2016.pdf">[..]</a></div>
				  <div class="from-them">Also, in Colorado, arrests have declined, but racial disparities has not been solved.</div>
				    <div class="prop-chat-source source-left"><a href="#10">[10]</a></div>
				  <div class="clear"></div>
				  <div class="from-me">It's only been two years. Look at all these other decreases in bad things: <a target="_blank" href="http://www.ofm.wa.gov/reports/marijuana_impacts_2015.pdf">http://www.ofm.wa.gov/reports/marijuana_impacts_2015.pdf</a></div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://www.ofm.wa.gov/reports/marijuana_impacts_2015.pdf">[..]</a></div>
				  <div class="clear"></div>
				  <div class="from-them">What about driving though? Have you ever driven high?</div>
				  <div class="clear"></div>
				  <div class="from-me">Yea, I'm a pro. With traffic the way it is right now, you can't go over 30mph on the highway anyways.</div>
				  <div class="clear"></div>
				  <div class="from-them">In Washington, car crash fatalities have increased after legalization. This includes THC + alcohol, and THC only.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://newsroom.aaa.com/2016/05/fatal-road-crashes-involving-marijuana-double-state-legalizes-drug/">[..]</a></div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://wtsc.wa.gov/wp-content/uploads/dlm_uploads/2015/10/Driver-Toxicology-Testing-and-the-Involvement-of-Marijuana-in-Fatal-Crashes_REVFeb2016-1.pdf">[..]</a></div>
				  <div class="from-them">No FDA-approved breathalyzer yet too, and everybody knows it. The taboo for high driving isn't as strong as drunk driving.</div>
				  <div class="clear"></div>
				  <div class="from-me">Legalizing it will speed up breathalyzer development and educate people about driving high. Like Colorado, we already have a high usage and access. Legalization will cut the black-market, and impose the laws we want to see.</div>
				  <div class="from-me">Until we do that, we can't do anything about current usage.</div>
				  <div class="clear"></div>
				  <div class="from-them">I still don't think we're ready for it. UCSF says this will just lead to Big Weed, not unlike Big Tobacco.</div>
				    <div class="prop-chat-source source-left"><a href="#6">[6]</a></div>
				  </section>
			</div>
		</div>

		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Más cosas para leer</div>
				<div class="prop-sources">
					Última actualización: 19 Oct 2016<br><br>
					<div class="prop-sources-title">Información mas o menos imparcial</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop64">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_64,_Marijuana_Legalization_(2016)">Ballotpedia details</a><br>
					[3] <a id='3' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=64&year=2016">Legislative Analyst's Office summary</a><br>
					[4] <a id='4' target='_blank' href="https://ww2.kqed.org/forum/2016/09/29/is-marijuana-safe-enough-to-legalize-for-recreational-use/">KQED Podcast, discussion on health effects</a><br>
					[4.5] <a id='4' target='_blank' href="https://ww2.kqed.org/forum/2016/10/17/proposition-64-lets-california-voters-have-their-say-on-recreational-use-of-marijuana/">KQED Podcast, live debate</a><br>
					[5] <a id='5' target='_blank' href="http://www.ofm.wa.gov/reports/marijuana_impacts_2015.pdf">Official report of effects of legalization in Washington</a><br>
					[6] <a id='6' target='_blank' href="https://tobacco.ucsf.edu/legalized-marijuana-california-could-hurt-public-health-analysis-says">UCSF says public health will be affected</a><br>
					<div class="prop-sources-title">Argumentos a favor de la Propuesta 64</div>
					[7] <a id='7' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-proposition-64-20160918-snap-story.html">LA Times</a><br>
					[8] <a id='8' target='_blank' href="http://www.modbee.com/opinion/editorials/article103444397.html">Modesto Bee</a><br>
					[9] <a id='9' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Chronicle-recommends-Legalize-marijuana-Yes-on-9223733.php">SF Chronicle</a><br>
					[10] <a id='10' target='_blank' href="https://www.washingtonpost.com/news/wonk/wp/2015/12/18/legal-weed-having-little-effect-on-teen-marijuana-use-federal-data-shows/?tid=a_inl">Washington Post on youth use</a><br>
					[11] <a id='11' target='_blank' href="http://www.usnews.com/news/us/articles/2016-04-18/colorado-pot-report-more-adults-using-drug-but-not-kids">US News: Colorado kids say no to pot</a><br>
					<div class="prop-sources-title">Argumentos en contra de la Propuesta 64</div>
					[12] <a id='12' target='_blank' href="http://www.sacbee.com/opinion/editorials/article102380352.html">Sac Bee</a><br>
					[13] <a id='13' target='_blank' href="http://www.fresnobee.com/opinion/editorials/article102367627.html">Fresno Bee</a><br>
					[14] <a id='14' target='_blank' href="http://www.apa.org/monitor/2015/11/marijuana-brain.aspx">Marijuana on the developing brain</a><br>
				
					{% include 'disclaimer-es.html' %}

				</div>
			</div>
		</div>

	</div>

{% endblock content%}
