imgpath: ../../static/img/65
indexpath: ..
englishpath: ../../65-67
<!-- PROP 65//67 -->

{% extends "base-es.html" %}


{% block title %}Edúcate sobre de las propuestas del estado de California | Propuesta 65 y 67{% endblock title %}
{% block meta-description %}<meta name="description" content="Proposición 65 ">{% endblock meta-description %}

{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p65-color"></div>
	<div class="prop-banner-img p65-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p65-comp-color">67+65</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">67 prohibe bolsas de plástico en todo el estado. 65 podría detener ese.</div>
			</div>
		</div>
		
		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Resumen</div>
				<div class="prop-text">Propuesta 67 pide a la gente a decidir de una vez por todas si debería de haber una prohibición estatal sobre las bolsas de plástico. Un ‘Sí’ ratifica la prohibición que fue aprobada por la legislatura estatal en 2014 (también conocido como SB270). Un ‘No’ anula la prohibición.<br><br>Prop 65 decide donde va la tarifa bolso- tanto en el nivel estatal y local. En lugar de permitir que las tienditas se queden con los 10 centavos que uno paga por bolsa, el dinero va a un fondo ambiental estatal. Un ‘Sí’ desvía el dinero de las tiendas. Un ‘No’ le permite a las tiendas quedarse con tus 10 centavitos.<br><br>Pero como nada es fácil en esta vida, hay una cláusula de pequeñíta en la propuesta 65 que podrían causar problemas en la 67. <em>Dun dun dun!</em></div>

<!-- 				<div class="prop-factors-section">
					<span class="prop-factors">Complexity of issue: </span><span class="emoji">🤔🤔🤔🤔<span class="faded">🤔</span></span><br>
					<span class="prop-factors">Money involved: </span><span class="emoji">💸💸💸💸<span class="faded">💸</span></span><br>
					<span class="prop-factors">Lopsided support? </span><span class="prop-factor-answers">Most residents support 67, Newspapers overwhelmingly support 67, and oppose 65</span><br>
				</div> -->
			</div>
		</div>


		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">¿Cuál es la Proposición 65?</div>
				<div class="prop-text">
				Prop 65 redirecciona el impuesto de la bolsa a un fondo ambiental. Bajo SB270 y las leyes locales, las tienda de comestibles se quedan con el impuesto para cubrir el costo de ofrecer esas bolsas, así como para educar a los consumidores acerca de los beneficios del uso de bolsas reciclables. En vez de esto, la prop 65 requieren que ese dinero, tanto de las prohibiciones locales y estatales, se vaya al Fondo de Protección Ambiental y de Mejora, cque se esforzaría a la protección y limpieza del medio ambiente, y sería administrado por el Fondo de Conservación de la Vida Silvestre.<sup><a href="#3">[3]</a></sup> <br><br>
				En particular, la American Bolsa progresiva Alliance, un grupo industrial que representa a los fabricantes de bolsas de plástico, acondicionados tanto Prop 67 y 65. (Pista:. No quieren que la prohibición de bolsas de plástico). Algunos sostienen que la intención es confundir a los votantes.<sup><a href="#10">[10]</a></sup> 
				<br><br>
				La Asociación de California de Abarrotes, por el contrario, apoya la prohibición de bolsas de plástico,<sup><a target="_blank" href="http://www.cagrocers.com/communications/publications/california-grocer/presidents-message/">[..]</a></sup>pero no apoyan la Proposición 65, y el apoyo a la prohibición disminuye si no pueden mantener los ingresos de la tarifa de la bolsa.
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<img class="prop-inline-img" src="{{imgpath}}/outcomematrix.png">
				<div class="inline-img-caption">Gráfica proporcionada por la Oficina del Analista Legislativo<sup><a href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=67&year=2016">[..]</a></sup></div>
			</div>
		</div>

		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">¿Y si ambos 65 y 67 pase?</div>
				<div class="prop-text">
				Si la Propuesta 67 pasa, bolsas de plástico están prohibidos y las tienditas cobraran 10 centavos de dólar por cada bolsa de papel. Si 65 pases, un fondo ambiental consigue esos 10 centavos. Sin embargo, si ambos pasan y 65 termina con más votos de ‘Si’ que la 67, podría ocurrir hacer cosas raras.
				<br><br>
				Prop 65, Sección 6 dice en parte: "En el caso de que esta medida reciba un mayor número de votos afirmativos, las disposiciones de esta medida prevalecerán en su totalidad, y las disposiciones de la otra medida o medidas, será nula y sin efecto." Esto podría ser interpretado por un tribunal en el sentido de que la Proposición 67 no se puede hacer cumplir.<sup><a href="#3">[3]</a></sup> Así que incluso si Prop 67 pases, la prohibición de bolsas de plástico en todo el estado podría ser golpeado por 65. Es imposible saber como un tribunal podría interpretar el lenguaje de esta manera, pero los votantes con la esperanza de mantener la prohibición de la bolsa de plástico deben votar No a la 65.
 
				</div>
			</div>
		</div>
		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">¿No que ya paso esto?</div>
				<div class="prop-text"> En efecto, California aprobó la ley para prohibir las bolsas de plástico, convirtiéndose en el <a target="_blank" href="http://www.latimes.com/local/political/la-me-pc-gov-brown-signs-phaseout-of-singleuse-plastic-bags-in-stores-20140929-story.html">primer</a> estado en hacerlo. La prohibición se supone que debe entrar en vigor en julio de 2015, pero la Bolsa americana progresiva Alianza reunio suficientes firmas para poner la prohibición de bolsas de plástico a una <a target="_blank" href="http://money.cnn.com/2015/02/25/news/california-plastic-bag-ban-delay/">votación</a> en estas elecciones (también conocido como un referéndum).
				<br><br>
				Si estás en una de las <a target="_blank" href="http://www.cawrecycles.org/list-of-local-bag-bans/">151</a> ciudades y condados en el estado que ya prohibieron las bolsas de plástico similar a como sería el SB270, la Propuesta 67 no puede cambiar tu prohibición local. Si la prohibición en todo el estado falla, prohibiciones locales se mantengan en efecto. Pero debido a lo que hemos dicho más arriba, el número de votos Si en 67 importan, por lo que su voto es muy muy importante.
				</div>
			</div>
		</div>


		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Abridged, fact-checked rendition of a KQED podcast <a target="_blank" href="http://elections.kqed.org/articles/2010101856852/environmentalists-and-plastic-bag-industry-face-off-over-propositions-65-and-67">debate</a>**</div>
				<section>
				    <div class="from-me">151 cities and counties are already enjoying the environmental benefits of banning plastic bags. Less litter, no bags in waterways.</div>
				    <div class="prop-chat-source source-right"><a href="#8">[8]</a></div>
					<div class="clear"></div>
				    <div class="from-them">Huntington Beach rescinded their ban. Plastic bags are recyclable, made from natural gas, make up less than 2% of the litter, and 1.5% of the waste generation in the US.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.latimes.com/local/lanow/la-me-ln-plastic-bag-ban-repealed-in-huntington-beach-20150506-story.html">[LA]</a></div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="https://www.epa.gov/sites/production/files/2015-09/documents/2013_advncng_smm_rpt.pdf">[EPA]</a></div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.erplanning.com/uploads/PR_Bags_-_2015_Litter_Survey_Rankings.pdf">[..]</a></div>
					<div class="clear"></div>
				    <div class="from-me">They are only recyclable at the grocery store in those special bins. The EPA says specifically to keep plastic bags out of recycling containers. They can shut an entire line down. Besides, people don't recycle them.</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://www.calrecycle.ca.gov/Plastics/AtStore/">[..]</a></div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="https://www.epa.gov/sites/production/files/2015-09/documents/changng_wste_stream.pdf">[..]</a></div>
					<div class="clear"></div>
				    <div class="from-them">Isn't that a consumer education problem? Many are reused.</div>
					<div class="clear"></div>
				    <div class="from-me">LA and has seen a 90% drop in single-use bag usage, showing a marked shift in consumer behavior towards resuable bags.</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://dpw.lacounty.gov/EPD/ABOUTTHEBAG/ANNOUNCEMENTS.CFM">[..]</a></div>
					<div class="clear"></div>
				    <div class="from-them">Paper bags use more natural resources, and thicker "reusable" bags need to be used hundreds of times to make up for their environmental footprint.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.wsj.com/articles/SB124473522987806581">[..]</a></div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.theatlantic.com/technology/archive/2016/09/to-tote-or-note-to-tote/498557/">[..]</a></div>
					<div class="clear"></div>
				    <div class="from-me">Paper bags get recycled more. Again, when there's a bag fee, people use reusable bags.</div>
					<div class="clear"></div>
				    <div class="from-them">If you want to help the environment, vote for Prop 65 and send money that way.</div>
					<div class="clear"></div>
				    <div class="from-me">Voters won't fall for your scheme to confuse them.</div>
					<div class="clear"></div>
				    <div class="from-them">57% of people agree that the money from bag fees should go to help the environment.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" ref="http://www.plasticsnews.com/article/20160819/NEWS/160819781/survey-californians-want-bag-fee-to-go-to-environmental-programs-not">[..]</a></div>
					<div class="clear"></div>
				    <div class="from-me">Yeah no, not if it's going to negate the plastic ban. That poll was conducted by the plastics industry.</div>
				    <div class="from-me">Most Californians agree plastic bags should be banned, and every major newspaper supports our cause and sees through Prop 65.</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="https://news.usc.edu/70472/usc-dornsifela-times-poll-californians-strongly-back-plastic-grocery-bag-ban/">[..]</a></div>
					<div class="clear"></div>
				</section>
					<div class="prop-sources">
					<sup>**</sup><em>Note: if you do listen to the podcast, be wary. We found many inconsistencies when we fact-checked. For example, the claim that plastic use will increase as a result of the ban, is not from <a target="_blank" href="http://www.ocregister.com/articles/bag-719599-bags-reusable.html">Mark Simpson</a>, an independent analyst. It is from the <a target="_blank" href="http://www.plasticsnews.com/article/20160919/NEWS/160919834/analysis-bag-ban-could-up-plastic-use">American Progressive Bag Alliance</a>.</em>
					</div>
			</div>
		</div>

		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Más cosas para leer</div>
				<div class="prop-sources">
					Última actualización: 8 Oct 2016<br><br>
					<div class="prop-sources-title">Información mas o menos imparcial</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop65">Full text of the Prop 65</a><br>
					[2] <a id='2' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop67">Full text of the Prop 67</a><br>
					[3] <a id='3' target='_blank' href="https://ballotpedia.org/California_Proposition_65,_Dedication_of_Revenue_from_Disposable_Bag_Sales_to_Wildlife_Conservation_Fund_(2016)">Ballotpedia details of 65</a><br>
					[4] <a id='4' target='_blank' href="https://ballotpedia.org/California_Proposition_67,_Plastic_Bag_Ban_Veto_Referendum_(2016)">Ballotpedia details of 67</a><br>
					[5] <a id='5' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=65&year=2016">Legislative Analyst's Office summary of 65</a><br>
					[6] <a id='6' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=67&year=2016">Legislative Analyst's Office summary of 67</a><br>
					[7] <a id='7' target='_blank' href="http://elections.kqed.org/article/2010101856852/environmentalists-and-plastic-bag-industry-face-off-over-propositions-65-and-67">KQED Podcast, live debate</a><br>
					[8] <a id='8' target='_blank' href="http://www.politifact.com/california/statements/2016/oct/03/no-67/whats-bag-fee-environment-opponents-not-one-penny/">Politifact: half true that bag fees don't go to environment</a><br>
					[9] <a id='9' target='_blank' href="http://www.theatlantic.com/technology/archive/2016/09/to-tote-or-note-to-tote/498557/">The Atlanic: Are tote bags reall ygood for the environment?</a><br>

					<div class="prop-sources-title">Los principales editoriales sobre ambas propuestas</div>
					[10] <a id='10' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-plastic-bag-propositions-20160908-snap-story.html">LA Times: Yes 67, No 65</a><br>
					[1`] <a id='11' target='_blank' href="http://www.sacbee.com/opinion/editorials/article105050231.html">Sac Bee: Yes 67, No 65</a><br>
					[12] <a id='12' target='_blank' href="http://www.fresnobee.com/opinion/editorials/article105248296.html">Fresno Bee: Yes 67, No 65</a><br>
					[13] <a id='13' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Chronicle-recommends-Yes-on-Prop-67-No-on-9187312.php">SF Chronicle: Yes 67, No 65</a><br>
					[14] <a id='14' target='_blank' href="http://www.mercurynews.com/2016/07/21/mercury-news-editorial-make-california-bag-ban-permanent/">Mercury news: Yes 67, No 65</a><br>
					{% include 'disclaimer-es.html' %}

				</div>
			</div>
		</div>
	

	</div>


{% endblock content%}
