imgpath: ../../static/img/action
indexpath: ..
englishpath: ../../takeaction/

<!-- FOLLOW -->

{% extends "base-es.html" %}

{% block title %}Edúcate sobre de las proposiciones del estado de California | haz algo{% endblock title %}
{% block meta-description %}<meta name="description" content="Haz algo en este elección.">{% endblock meta-description %}
{% block content %}

	<div class="header-spacer"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-6 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
				<h1>Esto es lo que puede hacer en este momento</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-0 col-xs-12">
				<h2><span class="emoji-lg">😬 Prepararse para día de las elecciones
</span></h2>
				<p> Sabemos que California irá a Hillary, pero usted tiene influencia en todas estas proposiciones. En California, es la ley que se le puede pagar tiempo libre para votar. La fecha límite para registrarse ha pasado.</p>
			</div>
		</div>

		<div class="line-division"></div>

		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-0 col-xs-12">
				<h2><span class="emoji-lg">✍️</span>Dile a tus amigos</h2>
				
				<p>Un simple <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fballot.fyi%2F&display=popup&ref=plugin&src=like&app_id=1134187086655814">clic</a> y sus amigos podrían ser mucho más informados. Por favor, darles las información para saber más.
				<br><br>Si desea maximizar el alcance, compartirlo públicamente para que otros puedan compartirlo: <span class="public-btn"><img src="{{imgpath}}/public.png"></span></p>
				
				<div class="share-img">
					<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fballot.fyi%2F&amp;src=sdkpreparse"><img src="{{imgpath}}/share.png"></a>
				</div>
			</div>
		</div>

{% endblock content%}
