imgpath: ../../../static/img/index
indexpath: .
englishpath: ..

<!-- INDEX ESPANOL-->

{% extends "base-es.html" %}
{% block content %}


<!-- intro -->
<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-5 col-xs-offset-0 col-xs-12">
				<h1>LA GUIA PARA VOTAR MÁS RÁPIDA E IMPARCIAL QUE ENCONTRARÁS – EDÚCATE SOBRE LAS PROPUESTAS DEL ESTADO DE CALIFORNIA</h1>
			</div>
			<div class="col-lg-4 col-md-5 col-xs-offset-0 col-xs-12">
				<div class="index-intro-small">Estamos cansados ​​de la cobertura de Donald v Hillary. Hay otras cuestiones muy importantes que están en juego. Hay propuestas estatales que te afectarán - como la mala hierba, educación bilingue, y el porno – y estan al voto. Osea resulta que tu voto es importante aqui en California wei.<br><br>Sabemos que estás ocupado, y no esperamos que leas todo esto de una vez, asi que <a href="https://tinyletter.com/ballotfyi">suscribete</a> o <a target="_blank" href="https://www.instagram.com/ballotfyi/">síguenos</a> en Instagram. Estamos aquí para darte todo lo que necesitas para informarte de las propuestas del estado de California. Rápida y objetivamente, para que puedas votar más inteligente y con ganas.</div>
				<div id="props"></div>
			</div>
		</div>
		<div class="row sort-menu">
			<div class="col-lg-offset-2 col-lg-2 col-md-offset-1 col-md-2 col-xs-offset-0 col-xs-4">
				<div class="sort-label">Ordenar por:</div>
			</div>
			<div class="col-lg-2 col-md-2 col-xs-4">
				<div class="sort-btn" id="sortByNumBtn">Número</div>
			</div>
			<div class="col-lg-2 col-md-2 col-xs-4">
				<div class="sort-btn" id="sortByNastyBtn">Repugnante</div>
			</div>
		</div>
	</div>
</div>

<div id="sort-container">
<!-- PROP 58 -->
<div data-num="58" data-sortint="0" data-nasty="12" class="index-prop-section p58-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/58">
				<div class="index-prop-title">PROP 58 DA CONTROL LOCAL SOBRE COMO EDUCAR A LOS ESTUDIANTES DE INGLÉS</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/rosetta.png"></div>
				<div class="index-prop-subtitle">1,4 millones de estudiantes (1 de cada 5) no hablan Inglés. ¿Cómo deben aprender y no quedarse con cara de what?</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">58</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 60 -->
<div data-num="60" data-sortint="1" data-nasty="6" class="index-prop-section p60-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/60">
				<div class="index-prop-title">PROP 60 Requiere que los pornostars usen condones (durante sexo)</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/banana.png"></div>
				<div class="index-prop-subtitle">Parece una buena idea, ¿por qué todos dicen que no?</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">60</div>

			</div>
		</div>
	</div>
</div>


<!-- PROP 62 & 66 -->
<div data-num="62" data-sortint="2" data-nasty="0" class="index-prop-section p62-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
			<a href="{{indexpath}}/62-66">
				<div class="index-prop-title">PROP 62 &amp; 66 REVOCA O ACELERA LA PENA DE MUERTE</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/syringe.png"></div>
				<div class="index-prop-subtitle">Si ambos pasan, la prop que tenga la mayoría de votos determinan el futuro de la pena de muerte.</div>
			<div class="index-rectangle"></div>
			</a>
			<div class="index-prop-num">62 &amp 66</div>

			</div>
		</div>
	</div>
</div>
<!-- PROP 64 -->
<div data-num="64" data-sortint="3" data-nasty="3" class="index-prop-section p64-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/64">
				<div class="index-prop-title">PROP 64 LEGALIZA MAR!JUANA</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/marijuana-leaf.png"></div>
				<div class="index-prop-subtitle">Si esto pasa, adivina cuántas plantas te permitirán crecer en casa.</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">64</div>

			</div>
		</div>
	</div>
</div>
<!-- PROP 51 -->
<div data-num="51" data-sortint="4" data-nasty="10" class="index-prop-section p51-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/51">
				<div class="index-prop-title">PROP 51 PONE $9B PARA CONSTRUIR Y MEJORAR LAS ESCUELAS</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/schoolbus.png"></div>
				<div class="index-prop-subtitle">Fiscalmente, la medida más grande en la boleta. $9B + $8B interés = $ 17, 000,000,000 en total.</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">51</div>

			</div>
		</div>
	</div>
</div>
<!-- PROP 63 -->
<div data-num="63" data-sortint="5" data-nasty="4" class="index-prop-section p63-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/63">
				<div class="index-prop-title">PROP 63 PROHÍBE POSEER ARMAS PESADAS</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/arnold.png"></div>
				<div class="index-prop-subtitle">Requiere antecedentes inmediatos y leyes más estrictas sobre municiones.</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">63</div>

			</div>
		</div>
	</div>
</div>
<!-- PROP 55 -->
<div data-num="55" data-sortint="6" data-nasty="9" class="index-prop-section p55-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/55">
				<div class="index-prop-title">PROP 55 EXTIENDE IMPUESTO SOBRE LA RENTA PARA PERSONAS CON ALTOS INGRESOS</div>
				<div class="index-prop-img"><img class='index-make-smaller' src="{{imgpath}}/monopoly-car.png"></div>
				<div class="index-prop-subtitle">¿Sabes donde estas en los niveles de impuestos?</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">55</div>

			</div>
		</div>
	</div>
</div>
<!-- PROP 54 -->
<div data-num="54" data-sortint="7" data-nasty="11" class="index-prop-section p54-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/54">
				<div class="index-prop-title">PROP 54 REQUIERE QUE ANTES DE VOTAR, LAS LEYES SE HAGAN PUBLICAS EN EL INTERNET</div>
				<div class="index-prop-img"><img class='index-make-smaller'src="{{imgpath}}/mac.png"></div>
				<div class="index-prop-subtitle">Osea. porque 2016 no?</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">54</div>

			</div>
		</div>
	</div>
</div>
<!-- PROP 56 -->
<div data-num="56" data-sortint="8" data-nasty="2" class="index-prop-section p56-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/56">
				<div class="index-prop-title">PROP 56 INCREMENTA el impuesto al tabaco en $ 2</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/cigarettes.png"></div>
				<div class="index-prop-subtitle">Esto también incluye a los e-cigarrillos que actualmente estan libres de impuestos y sin madre.</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">56</div>

			</div>
		</div>
	</div>
</div>
<!-- PROP 65 -->
<div data-num="65" data-sortint="9" data-nasty="1" class="index-prop-section p65-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/65-67">
				<div class="index-prop-title">prop 67 &amp; 65 prohíbe las bolsas de plástico en todo el estado y redirige los 10 centavos</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/plastic-bag.png"></div>
				<div class="index-prop-subtitle">Hay 5 escenarios posibles. La industria de la bolsa de plástico quiere todos menos uno.</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">67 &amp; 65</div>

			</div>
		</div>
	</div>
</div>
<!-- PROP 53 -->
<div data-num="53" data-sortint="10" data-nasty="8" class="index-prop-section p53-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/53">
				<div class="index-prop-title">PROP 53 REQUIERE QUE LOS PROYECTOS DE INFRAESTRUCTURA ESTATALES DE MÁS DE $ 2B SEAN APROBADOS POR UN VOTO</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/checkbook.png"></div>
				<div class="index-prop-subtitle">Esto podría poner fin al tren bala entre LA y SF</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">53</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 57 -->
<div data-num="57" data-sortint="11" data-nasty="5" class="index-prop-section p57-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/57">
				<div class="index-prop-title">PROP 57 HACE MAS FACIL OBTENER LA LIBERTAD CONDICIONAL PARA LOS DELINCUENTES NO VIOLENTOS</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/hamburglar.png"></div>
				<div class="index-prop-subtitle">Es una línea muy fina entre violencia y no violencia (preguntenle al Hamburglar)</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">57</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 52 -->
<div data-num="52" data-sortint="12" data-nasty="13" class="index-prop-section p52-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/52">
				<div class="index-prop-title">PROP 52 CONTINUA UN MECANISMO QUE HACE DINERO PARA LOS HOSPITALES</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/ambulance.png"></div>
				<div class="index-prop-subtitle">De alguna manera, los hospitales hacen más de $ 3 mil millones haciendo esto</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">52</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 61 -->
<div data-num="61" data-sortint="14" data-nasty="6" class="index-prop-section p61-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/61">
				<div class="index-prop-title">PROP 61 podría reducir los precios de medicamentos para las agencias estatales</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/bottles.png"></div>
				<div class="index-prop-subtitle">Esta prop tiene la campaña mas cara en la historia de CA</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">61</div>

			</div>
		</div>
	</div>
</div>
<!-- PROP 59 -->
<div data-num="59" data-sortint="15" data-nasty="14" class="index-prop-section p59-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/59">
				<div class="index-prop-title">PROP 59 LE DICE AL GOBIERNO ESTADO QUE PIENSAS SOBRE DE CIUDADANOS DE LOS ESTADOS</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/corporation.png"></div>
				<div class="index-prop-subtitle">Solo quieren saber como te sientes, esta prop no tiene ningun impacto legal.</div>
				<div class="index-rectangle"></div>
				</a>
				<div class="index-prop-num">59</div>
			</div>
		</div>
	</div>
</div>

</div>
<!-- GENERAL -->
<!-- <div class="index-prop-section general-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/general">
				<div class="index-prop-title">In general, three things to know about how propositions work</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/general.png"></div>
				<div class="index-prop-subtitle">Some meta arguments to consider.</div>
				<div class="index-rectangle"></div>
				</a>
			</div>
		</div>
	</div>
</div> -->

{% endblock content%}
