imgpath: ../../../static/img/about
indexpath: ..
englishpath: ../../about/

<!-- ABOUT -->

{% extends "base-es.html" %}
{% block title %}Edúcate sobre de las proposiciones del estado de California | quienes somos
{% endblock title %}
{% block meta-description %}<meta name="description" content="Quien es Citizen & Citzens, el grupo de ballot.fyi">{% endblock meta-description %}

{% block content %}

	<div class="header-spacer"></div>

	<div class="container">
		<div class="row">
			<div class="about-intro col-lg-offset-2 col-lg-6 col-sm-offset-2 col-sm-6">
				<h1>BALLOT.FYI es tres cosas</h1>
			</div>
		</div>

		<div class="row about-section">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4">
				<img class="about-img" src="{{imgpath}}/nonpartisan.svg">
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="about-title">imparcial</div>
				<div class="about-text">BALLOT.FYI es un proyecto de unas pocas personas que están cansados ​​de votar de última hora sin información. Le daremos hechos acerca de las proposiciones, de manera concisa, para que pueda hacer su propia conclusión. Somos independientes de cualquier organización o grupo. Nosotros no tenemos y no vamos a aceptar dinero o favores. Sólo los hechos pueden cambiar de opinión. Envíanos un correo electrónico a <a href="mailto:fax@ballot.fyi">fax@ballot.fyi</a></div>
			</div>
		</div>

		<div class="row about-section">
			<div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-push-4 col-sm-offset-2 col-sm-4">
				<img class="about-img" src="{{imgpath}}/concise.svg">
			</div>
			<div class="col-lg-4 col-md-offset-2 col-md-pull-6 col-sm-4">
				<div class="about-title">conciso</div>
				<div class="about-text">Hemos leído el texto completo de las proposiciones, los argumentos oficiales de ambas partes, artículos de opinión, y la mayoría de las fuentes "imparcial", así que podríamos dar a estos compendios breves de las proposiciones. Sabemos que usted no tiene una gran cantidad de tiempo. Pero, estos son problemas reales que afectan a muchas personas (excepto <a href="{{indexpath}}/59">Prop 59</a>); esperamos que estos resúmenes modo obtienen se interesa lo suficiente como para leer más, o le dará suficiente información para que se sienta como que pueda tomar una decisión informada.</div>
			</div>
		</div>

		<div class="row about-section">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4">
				<img class="about-img" src="{{imgpath}}/tool.svg">
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="about-title">un recurso útil</div>
				<div class="about-text">Queremos que se sienten capaces el día de elección, y queremos que le dan munición para tomar sus propias decisiones. También esperamos que usted desea que sus amigos se sienten capaces, así, porque este sitio no tiene otro propósito que el de proporcionar información útil. Entonces, lo más importante que puede hacer esta elección es dar más información a sus amigos.</div>
			</div>
		</div>
	</div>

	<div class="container" id="citzens">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-sm-offset-2 col-sm-8">

			<h3>Quienes Citizen & Citizens</h3>
			<p>Citizen & Citizens fue hecha por Jimmy Chion, un artista e ingeniero en California, con la ayuda de muchos amigos. Estábamos cansados ​​de ver sólo la información seca y densa sobre las cuestiones, o guía al votante altamente partidista. Nosotros <em>esforzamos</em> para presentar una visión intermedia. Pero debido a que todos somos humanos, ya pesar de nuestros mejores esfuerzos, no es BALLOT.FYI sin prejuicios. Así que por favor revisar y enviar sugerencias, correcciones, hechos a <a href="mailto:fax@ballot.fyi">fax@ballot.fyi</a>
			</div>
		</div>
	</div>

{% endblock content%}
