imgpath: ../../static/img/53
indexpath: ..
espanolpath: ../espanol/53
prevnum: 52
nextnum: 54
<!-- PROP 53 -->

{% extends "base.html" %}

{% block fbtags %}
<meta property="og:title" content="Prop 53 sounds boring, but it could affect you" />
<meta property="og:description" content="It might cancel the Bullet Train." />	
{% endblock fbtags %}

{% block title %}Prop 53 | California State Propositions 2016 – nonpartisan voter guide{% endblock title %}
{% block meta-description %}<meta name="description" content="California Prop 53 requires large public infrastructure projects to be voter-approved.">{% endblock meta-description %}

{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p53-color"></div>
	<div class="prop-banner-img p53-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p53-comp-color">53</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">requires any public infrastructure project over $2B to be voter approved.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Summary</div>
				<div class="prop-text">This one is a little dense, so let's get some vocab down.<br><br>When the state decides to build a public infrastructure project, it issues <em>revenue bonds</em> – debt that is paid back by the use of the project. For example, if it's a bridge, the money from the toll goes to pay back the cost of building it. If it's a hospital, the <em>users</em> pay hospital fees, which go to pay back the revenue bond. At the moment, revenue bonds do not have to be voted on by the public.
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<img class="prop-inline-img" src="{{imgpath}}/revenuebonds.png">
				<div class="inline-img-caption">Graphic provided by the Legislative Analyst's Office<sup><a href="#3">[3]</a></sup></div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-text">
				If Prop 53 passes, revenue bonds totaling $2 billion or more (e.g. that $60 billion High Speed Rail) would require statewide voter approval first. The intent of the prop is to prevent massive state debt because of poorly planned or financed projects. Currently, it's unclear whether this would impact local projects. If it did, people in LA, for example, would have to vote on something that only impacts SF. Neither side wants that.<sup><a href="#4">[4]</a></sup> </div>
				<div class="prop-factors-section">
				<span class="prop-factors">Complexity of issue: </span><span class="emoji">🤔🤔🤔🤔<span class="faded">🤔</span></span><br>
				<span class="prop-factors">Money involved: </span><span class="emoji">💸💸💸<span class="faded">💸💸</span></span><br>
				<span class="prop-factors">Lopsided support? </span><span class="prop-factor-answers">Mostly towards No</span><br>
				<span class="prop-factors">Projects affected? </span><span class="prop-factor-answers"><a target="_blank" href="https://en.wikipedia.org/wiki/California_High-Speed_Rail">High Speed Rail</a>, <a target="_blank"  href="http://www.usnews.com/news/us/articles/2016-03-18/things-to-know-about-californias-giant-twin-tunnels-project">Twin Tunnels Project</a></span><br>
				</div>


				<div class="prop-title">Why should I care?</div>
				<div class="prop-text">Say the High Speed Rail is built, and nobody uses it because it's overrun with rats. High speed rats. To pay back the bond, the state has to pull from the <em>General Fund</em> (i.e. taxpayer money honeypot). So it should make sense that you should have a say in whether a project should be built or not, right? You, as a tax-payer, are paying for it if it fails. Well, the opposition says that revenue bonds don't put the tax-payers at risk, just its users.<sup><a href="#4">[4 @ 19:00, 25:55]</a></sup> If the High Speed Rail is over-budget, then the price for a ticket simply becomes more expensive. (You can continue down this rabbit-hole, and eventually get to taxpayers again.)</div>

				<div class="prop-title">Why is this even on the ballot?</div>
				<div class="prop-text">Dino Cortopassi, farmer and philanthropist, has spent over $4 million to get this passed, in an effort to stop "blank check debt" from legislators. Some say this measure is to personally stop the Twin Tunnels or High Speed Rail project.<sup><a href="#8">[8]</a></sup></div>

				<div class="prop-title">Any gotchas?</div>
				<div class="prop-text">The proposition has no exemptions for emergencies, like a natural disaster.<sup><a href="#1">[1]</a></sup> Proponents argue that wouldn't be a revenue bond in the first place.<sup><a href="#4">[4]</a></sup> But there's an example in 1910 where we have.<sup><a href="#4">[4 @ 22:40]</a></sup> [We haven't been able to verify the example they cite in the podcast. Any leads?]

				</div>



			</div>
		</div>
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">More reading</div>
				<div class="prop-sources">
					Information last updated: Oct 23, 2016<br><br>
					<div class="prop-sources-title">Mostly impartial information</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop53">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_53,_Voter_Approval_Requirement_for_Revenue_Bonds_above_$2_Billion_(2016)">Ballotpedia details</a><br>
					[3] <a id='3' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=53&year=2016">Legislative Analyst's Office summary</a><br>
					[$] <a id='-' target='_blank' href="http://votersedge.org/en/ca/ballot/election/area/42/measures/measure/2016?id=statewide-42-ca">Voter's Edge: where's the money coming from?</a><br>
					[4] <a id='4' target='_blank' href="https://ww2.kqed.org/forum/2016/09/16/california-prop-53-would-expand-voter-approval-to-revenue-bonds/">KQED: podcast debate</a><br>
					<div class="prop-sources-title">Arguments FOR Prop 53</div>
					[6] <a id='6' target='_blank' href="http://www.vvdailypress.com/opinion/20160827/our-view-prop-53-deserves-yes-vote-in-november">Daily Press Editorial</a><br>
					<div class="prop-sources-title">Arguments AGAINST Prop 53</div>
					[7] <a id='7' target='_blank' href="http://www.mercurynews.com/2016/08/11/mercury-news-editorial-reject-prop-53-requiring-statewide-revenue-bond-approval/">Mercury News Editorial Board</a><br>
					[8] <a id='8' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/A-one-man-crusade-isn-t-the-way-to-run-9193825.php">SF Chronicle Editorial Board</a><br>
					[9] <a id='9' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-proposition-53-20160914-snap-story.html">LA Times Editorial Board</a><br>
					[10] <a id='10' target='_blank' href="http://www.bakersfield.com/opinion/our-view-vote-no-prop-is-not-taxpayer-protection/article_18dd8fdb-cf22-5e7c-a503-13b847985337.html">Bakersfield Californian Editorial Board</a><br>
					[11] <a id='11' target='_blank' href="http://www.sacbee.com/opinion/editorials/article100242192.html">Sac Bee Editorial Board</a>
					{% include 'disclaimer.html' %}



				</div>
			</div>
		</div>
		{% include 'jump-nav.html' %}

	</div>

{% endblock content%}
