imgpath: ../../static/img/54
indexpath: ..
<!-- PROP 54 -->

{% extends "base.html" %}

{% block fbtags %}
<meta property="og:url" content="http://ballot.fyi/54/" />

{% endblock fbtags %}

{% block title %}California State Propositions – The Quick Guide to Vote Better And Harder | Prop 54{% endblock title %}
{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p54-color"></div>
	<div class="prop-banner-img p54-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p54-comp-color">54</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">requires that before voting, bills be put on the internet for 3 days </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Summary</div>
				<div class="prop-text">As far as we can tell, this is as straightforward as it gets. No surprising, unintended consequences. This measure would require that bills be put in print (like, paper) and online 72 hours before the state Legislature can vote on it. It also requires that all public proceedings be recorded and put online within 24 hours. Wild.
				</div>

				<div class="prop-factors-section">
				<span class="prop-factors">Complexity of issue: </span><span class="emoji">🤔<span class="faded">🤔🤔🤔🤔</span></span><br>
				<span class="prop-factors">Money involved: </span><span class="emoji">💸💸<span class="faded">💸💸💸</span></span><br>
				<span class="prop-factors">Lopsided support? </span><span class="prop-factor-answers">Very – towards Yes</span><br>
				<br>
				</div>

				<div class="prop-title">Tell me more, but only a little more</div>
				<div class="prop-text">Not a problem. The measure would amend the state constitution. Its intention is to prevent bills from being changed last-minute by special interest groups and then ratified. Funny enough, those who oppose this proposition say the same thing: that bills and legislators will become <em>more</em> likely to be influenced by special interest groups by giving them more time.<sup><a target="_blank" href="http://www.noonproposition54.com/">[..]</a></sup> Proponents say this is simple transparency. <br><br>And in case the Governor declares a state of emergency, this 72 hour delay can be waived by a two-thirds vote.<sup><a href="#3">[3]</a></sup></div>
			</div>
		</div>
		
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">More reading</div>
				<div class="prop-sources">
					Information last updated: Sept 25, 2016<br><br>
					<div class="prop-sources-title">Mostly impartial information</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop54">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_54,_Public_Display_of_Legislative_Bills_Prior_to_Vote_(2016)">Ballotpedia details</a><br>
					[3] <a id='3' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=54&year=2016">Legislative Analyst's Office summary</a><br>
					<div class="prop-sources-title">Arguments FOR Prop 54</div>
					[4] <a id='4' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Only-voters-can-bring-transparency-to-Legislature-8337551.php">SF Chronicle: history of the measure</a><br>
					[5] <a id='5' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-proposition-54-20160913-snap-story.html">LA Times</a><br>
					[6] <a id='6' target='_blank' href="http://www.santacruzsentinel.com/article/NE/20160831/LOCAL1/160839913">Santa Cruz Sentinel</a><br>
					<div class="prop-sources-title">Arguments AGAINST Prop 54</div>
					[?] No known editorial board opposes this. Please <a href="mailto:fax@ballot.fyi">email</a> if you find one. 
					{% include 'disclaimer.html' %}
				</div>
			</div>
		</div>

	</div>

{% endblock content%}
