imgpath: ../../static/img/60
indexpath: ..
<!-- PROP 60 -->

{% extends "base.html" %}

{% block fbtags %}
<meta property="og:url" content="http://ballot.fyi/60/" />
<meta property="og:title" content="Why is everybody against California's Prop 60?" />
<meta property="og:description" content="It requires pornstars to wear condoms (during sex)" />	
{% endblock fbtags %}

{% block title %}California State Propositions – The Quick Guide to Vote Better And Harder | Prop 60{% endblock title %}


{% block content %}
	<div class="header-spacer"></div>
	<div class="prop-angled-bg p60-color"></div>
	<div class="prop-banner-img p60-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p60-comp-color">60</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">requires pornstars to wear condoms</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Quick summary</div>
				<div class="prop-text">If passed, porn stars have to wear condoms (during scenes with sexual intercourse). Anal included? You bet.</div>

				<div class="prop-factors-section">
				<span class="prop-factors">Complexity of issue: </span><span class="emoji">🤔🤔<span class="faded">🤔🤔🤔</span></span><br>
				<span class="prop-factors">Money involved: </span><span class="emoji">💸💸<span class="faded">💸💸💸</span></span><br>
				<span class="prop-factors">Lopsided support? </span><span class="prop-factor-answers">Very. Towards No</span><br>
				<span class="prop-factors">Who's most affected? </span><span class="prop-factor-answers">The porn industry</span>
				</div>

				<div class="prop-title">Look, I'm a 5th grader and have 1 minute.</div>
				<div class="prop-text">If used, condoms would 100% protect porno performers from HIV and other STIs. As you might expect, the porn industry is <em>vigorously</em> opposed, saying their current testing practices are just fine, and condom requirements will further drive the industry to other states or even underground.<sup><a href="#4">[4]</a></sup> Nearly everybody opposes the prop, including the SF and CA Democratic Party, the CA Republican party, and the SF AIDS Foundation. In fact, except for those who proposed the prop, there are no major supporters.<sup><a href="#2">[2]</a></sup></div>
				<div class="prop-title">Why is this even on the ballot?</div>
				<div class="prop-text">LA already has a condom requirement, (ironically, we hope) called Measure B.<sup><a href="#2">[2]</a></sup> The AIDS Healthcare Foundation wants to make this law statewide, after it failed in the state legislature.  </div>
			</div>
		</div>
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
				<div class="prop-title">This is the debate</div>
				<section>
				    <div class="from-me">
				      Why you gotta hate? Condoms protect performers from HIV and STDs, which are all over your stars.
				    </div>
				    <div class="prop-chat-source source-right"><a href="#9">[9]</a></div>
				  <div class="clear"></div>
				    <div class="from-them">
				      Testing is already required every two weeks, and studios check the results right before a shoot.
				    </div>
				    <div class="prop-chat-source source-left"><a href="#4">[4]</a></div>
				  <div class="clear"></div>
				    <div class="from-me">
				      But testing doesn't prevent HIV. Condoms do.
				    </div>
				   <div class="clear"></div>
				    <div class="from-them">
				      There hasn't been a case of HIV transmission on screen in more than 10 years!
				    </div>
				    <div class="prop-chat-source source-left"><a href="#3">[3]</a></div>
				   <div class="clear"></div>
				    <div class="from-me">
				      There was just a case in Nevada.
				    </div>
				    <div class="prop-chat-source source-right"><a href="#8">[8]</a></div>
				  <div class="clear"></div>
				    <div class="from-them">
				      He wasn't in the database we have. Performers can go to condom-only studios if they want, and besides, porn isn't going to stop. It'll just make filming go underground. Look at LA since 2012.
				    </div>
				    <div class="prop-chat-source source-left"><a href="#3">[3]</a></div>
				    <div class="from-them">
						Also, the way the proposition is worded you're gonna end up with too much power, and ANY Californian can sue offenders.
					</div>
				    <div class="prop-chat-source source-left"><a href="#2">[2]</a><a href="#5">[5]</a></div>
				  <div class="clear"></div>
				    <div class="from-me">
				      Because <a class="acronym" data-expanded='the Occupational Safety and Health Administration' id='osha'>OSHA</a> rules should already force performers to wear protection, but they can't regulate every studio.
				    </div>
				    <div class="prop-chat-source source-right"><a href="#6">[6]</a></div>
				  <div class="clear"></div>
				    <div class="from-them">
				      So I could sue my friend if he produces and distributes a video of him and his wife in bed?
				    </div>
				    <div class="prop-chat-source source-left"><a href="#5">[5]</a></div>
				  <div class="clear"></div>
				    <div class="from-me">
						If he produces unsafe porn, yes.
				    </div>
				  <div class="clear"></div>
				    <div class="from-them">
				      In this day and age, many adult performers also end up as producers. I hope your $2M is keeping you company. We have everybody else on our side. California GOP and Dems. Scott Weiner. Senator Leno. Mercury News. Los Angeles Times. SF AIDS Foundation.
				    </div>
				    <div class="prop-chat-source source-left"><a href="#2">[2]</a></div>

				  </section>
			</div>
		</div>
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">more reading</div>
				<div class="prop-sources">
					Information last updated: Oct 4, 2016<br><br>
					<div class="prop-sources-title">Mostly impartial information</div>
					[1] <a id="1" href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf" target="_blank">Full text of the proposed proposition (page 35/105)</a><br>
					[2] <a id="2" href="https://ballotpedia.org/California_Proposition_60,_Condoms_in_Pornographic_Films_(2016)" target="_blank">Ballotpedia entry</a><br>
					[3] <a id="3" href="http://www.latimes.com/local/california/la-me-porn-condoms-20150718-story.html" target="_blank"><em>LA Times</em>: on context for the proposition and LA's Measure B</a><br>
					[4] <a id="4" href="http://www.reviewjournal.com/news/nation-and-world/calif-activists-propose-ballot-measure-condom-use-porn-industry" target="_blank"><em>Review Journal</em>: on the current safety practices</a><br>
					[5] <a id="5" href="http://www.vocativ.com/349999/condom-bill/" target="_blank">Judge rules that those who can be sued from Prop 60 <em>may include</em> performers. Confusingly, both sides consider it a win.</a><br>
					[6] <a id="6" href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=60&year=2016" target="_blank">Legalislative Analyst's Office</a><br>
					[7] <a id="7" href="http://www.politifact.com/california/statements/2016/sep/02/no-60-campaign-against-condom-requirement-adult-fi/would-californias-prop-60-expose-adult-film-perfor/" target="_blank">Politifact: would this cause a legal bonanza?</a><br>
					[8] <a id="8" href="https://ww2.kqed.org/forum/2016/09/30/proposition-60-would-require-condom-use-in-adult-films/" target="_blank">KQED: live podcast debate</a><br>
					<div class="prop-sources-title">Arguments FOR Prop 60</div>
					[9] <a id="9" href="http://www.reviewjournal.com/news/nevada-considers-tighter-rules-after-porn-actor-infected-hiv" target="_blank">Nevada considers tighter rules after porn actor infected with HIV</a><br>
					[10] <a id="10" href="http://www.huffingtonpost.com/2012/11/02/stds-porn-industry_n_2064639.html" target="_blank">STDs In Porn Industry Higher Than Reported, says study released by AIDS Healthcare Foundation</a><br>
					[11] <a id="11" href="http://publichealth.lacounty.gov/std/docs/afi/kerndtafistd.pdf" target="_blank">The study's paper mentioned in [6]</a><br>
					[12] <a id="12" href="http://webcache.googleusercontent.com/search?q=cache:y3y8P1yHKOMJ:www.mercurynews.com/opinion/ci_30282182/klausner-prop-60-will-protect-heath-adult-film+&cd=1&hl=en&ct=clnk&gl=us" target="_blank">Op-ed from doctor: Prop. 60 will protect health of adult film performers</a><br>
					<div class="prop-sources-title">Arguments AGAINST Prop 60</div>
					[13] <a id="13" href="http://www.sfchronicle.com/opinion/editorials/article/A-condom-requirement-for-porn-actors-doesn-t-9198804.php" target="_blank">SF Chronicle Editorial Board: A condom requirement for porn actors doesn’t make sense</a> <br>
					[14] <a id="14" href="http://www.sacbee.com/opinion/election-endorsements/article100921742.html" target="_blank">Sacramento Bee Editorial Board: How hardcore do we want to get in policing porn?</a>
					{% include 'disclaimer.html' %}

				</div>
			</div>
		</div>

	</div>

{% endblock content%}
