imgpath: ../../static/img/63
indexpath: ..
espanolpath: ../espanol/63
prevnum: 62-66
nextnum: 64
<!-- PROP 63 -->

{% extends "base.html" %}

{% block title %}Prop 63 | California State Propositions 2016 – nonpartisan voter guide{% endblock title %}
{% block meta-description %}<meta name="description" content="California Prop 63 creates all-around stricter checks on ammunition.">{% endblock meta-description %}

{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p63-color"></div>
	<div class="prop-banner-img p63-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p63-comp-color">63</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">creates all-around stricter checks on ammunition</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title text-center">Summary</div>
				<div class="prop-text">This proposition is a few different pieces that create more checks during the sale of ammunition. California already has the strictest gun laws in effect (a bunch were passed earlier this year in what critics called "<a target="_blank" href="http://www.foxnews.com/politics/2016/08/28/second-amendment-backers-arm-up-with-ink-and-paper-to-battle-californias-gunmageddon.html">Gunmageddon</a>" – super creative.) so we'll present how it is now, and what would be different should Prop 63 pass. Spoiler alert: it's kinda not much.</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-md-offset-2 col-md-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-12">
				<div class="prop-subtitle center-text">Now</div>
				<div class="prop-text">
					<ul>
						<li>To buy ammunition right now, you don't need a permit, but the dealers need to check with the <span class="acronym" id='doj1' data-expanded="Department of Justice">DoJ</span> to make sure you're okay to buy it.</li>
						<li>To sell ammunition, you currently have to get a 1-year license. Hunters selling 50 rounds or less a month are exempt.</li>
						<li>"Gunmageddon" set into law that if you buy ammunition from out of state, you'll have to have it delivered to a licensed vendor so that you can pick it up in person. This goes into effect in July 2019.</li>
						<li>Because of another law, if a gun is stolen and worth less than $950, it's currently a misdemeanor.</li>
						<li>It's been illegal to purchase large-capacity magazines (more than 10 rounds) since the year 2000, but if you owned some, you could keep it.</li>
						<li>At the moment, it's difficult to enforce the removal of firearms from <span class="acronym" id="pp" data-expanded="prohibited people (convicted of felonies, assault, or battery; dangerous due to mental illness; or have a restraining order against them)">prohibited people</span><sup><a href="#6">[6]</a></sup></li>
					</ul>
				</div>
			</div>


			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="prop-subtitle center-text">If Prop 63 passes</div>
				<div class="prop-text">
					<ul>
						<li>If you want to buy ammo, you would now have to pass a background check through the <span class="acronym" id='doj2' data-expanded="Department of Justice">DoJ</span> and buy a 4-year permit that could cost $50 max.</li>
						<li>Selling ammo without a license would now become a misdemeanor. Hunters selling 50 rounds or less a month are still exempt.</li>
						<li>Prop 63 would still require online purchases to be delivered to a licensed dealer and picked up in person, but it would move up the date it goes into effect to January 2018.</li>
						<li>If Prop 63 passes, if a gun is stolen and worth less than $950, it would now be a felony.</li>
						<li>If you happen to still own large-capacity magazines from pre-2000, you would now have to dispose of them.</li>
						<li>A court process would be set up to enforce the removal of guns from prohibited persons.<sup><a href="#3">[3]</a></sup></li>
					</ul> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
					<div class="prop-title center-text">Definitely <span id='tldr' data-expanded="Too Long, Didn't Read" class="acronym">TL;DR</span>.</div>
					<div class="prop-text">
						Gun laws became super <a target="_blank" href="http://www.npr.org/sections/thetwo-way/2016/07/01/484399958/6-new-gun-control-laws-enacted-in-california-as-gov-brown-signs-bills">strict</a> earlier this year in July. Prop 63 modifies those laws to make them stricter. Most of these laws don't go into effect until later, and it's possible there might be a referendum to block the new laws. <br><br>For gun owners, the largest change is the requirement to buy a permit in order to purchase ammo. It could cost up to $50 and will take time to process the request.
					</div>
			</div>
		</div>

		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
				<div class="prop-title">The text debate</div>
				<section>
				    <div class="from-them">Prop 63 is lame.</div>
					<div class="clear"></div>
				    <div class="from-me">Because you're a gun owner?</div>
					<div class="clear"></div>
				    <div class="from-them">Most of the tough laws were passed in July. This is just Gavin Newsome grandstanding.</div>
					<div class="clear"></div>
				    <div class="from-me">Don't you think some of these laws make sense though? Like giving the courts more power to enforce the law that convicts shouldn't have guns.</div>
					<div class="clear"></div>
				    <div class="from-them">Sure, but short of a legal warrant for search and seizure, it won't make a convict give up his or her guns. A $100 fine? Do you think they care about that?</div>
				    <div class="from-them">Just more government overhead.</div>
					<div class="clear"></div>
				    <div class="from-me">Every little bit helps. And you don't think reporting when guns are stolen is good?</div>
					<div class="clear"></div>
				    <div class="from-them">It won't change anything. Any responsible gun owner knows to report theft. Otherwise, they'll be blamed for a murder.</div>
					<div class="clear"></div>
				    <div class="from-me">Okay so might as well make it law. What about owning large-capacity magazines?</div>
					<div class="clear"></div>
				    <div class="from-them">If you've held on to your magazines for 16+ years, why would this law make you give it up?</div>
					<div class="clear"></div>
				    <div class="from-me">And you're not annoyed by the $50 permit? or the need to have ammo delivered to a store first.</div>
					<div class="clear"></div>
				    <div class="from-them">The $50 is particularly annoying because it's just more red tape. Ammo delivered is another inconvenience.</div>
				    <div class="from-them">What happens if the seller ships it to my door by accident? I get a misdemeanor?</div>
					<div class="clear"></div>
				    <div class="from-me">How would they enforce that?</div>
					<div class="clear"></div>
				    <div class="from-them">Now you're thinking...</div>
					<div class="clear"></div>
				    <div class="from-me">Sounds like you agree with the intent of the law, but it sounds like you're saying it won't make us much safer. In general though, more restrictions = less guns in bad people's hands.</div>
					<div class="clear"></div>
				    <div class="from-them">Let's not get into the more guns vs less guns debate. State laws have been shown to be ineffective at reducing murder rates. Agreed that bad guys shouldn't have guns, but at the expense of what rights? </div>
				    <div class="prop-chat-source source-left"><a href="#10">[10]</a></div>
					<div class="clear"></div>
				    <div class="from-me">Another study says that mortality could be decreased with national laws, and strict gun laws in California have lead to less gun violence.</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://www.thelancet.com/journals/lancet/article/PIIS0140-6736%2815%2901026-0/abstract">[..]</a></div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://www.businessinsider.com/how-californias-gun-laws-have-worked-2013-8">[..]</a></div>
				    <div class="from-me">I don't own a gun, so I'll probably vote yes.</div>
					<div class="clear"></div>
				    <div class="from-them">And that's why we continue to get shat on, because you think it's not your problem.</div>
				    <div class="from-them">We don't want terrorists communicating, but we'll never allow the govt to listen to our conversations. We don't want bad guys to have guns, but at the expense of what freedoms?</div>
				</section>
			</div>
		</div>
		


		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">More reading</div>
				<div class="prop-sources">
					Information last updated: Oct 8, 2016<br><br>
					<div class="prop-sources-title">Mostly impartial information</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop63">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_63,_Background_Checks_for_Ammunition_Purchases_and_Large-Capacity_Ammunition_Magazine_Ban_(2016)">Ballotpedia details</a><br>
					[3] <a id='3' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=63&year=2016">Legislative Analyst's Office summary</a><br>
					[$] <a id='-' target='_blank' href="http://votersedge.org/en/ca/ballot/election/area/42/measures/measure/2026?id=statewide-42-ca">Voter's Edge: where's the money coming from?</a><br>
					[4] <a id='4' target='_blank' href="http://www.politifact.com/california/statements/2016/jul/12/firearms-policy-coalition/will-ca-gun-control-measure-criminalize-sharing-bu/">Politifact: Prop 63 won't criminalize sharing ammunition</a><br>
					<div class="prop-sources-title">Arguments FOR Prop 63</div>
					[5] <a id='5' target='_blank' href="http://www.sacbee.com/opinion/editorials/article105264986.html">Sac Bee Editorial Board</a><br>
					[6] <a id='6' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Chronicle-recommends-Yes-on-Prop-63-9218383.php">SF Chronicle</a><br>
					[7] <a id='7' target='_blank' href="https://web.archive.org/web/20160815100815/http://www.mercurynews.com/opinion/ci_29918883/mercury-news-editorial-californias-gun-control-opportunity">Mercury News</a><br>
					[8] <a id='8' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-proposition-63-gun-control-20160916-snap-story.html">LA Times</a><br>
					<div class="prop-sources-title">Arguments AGAINST Prop 63</div>
					[9] <a id='9' target='_blank' href="http://www.bakersfield.com/opinion/vote-no-prop-piles-on-redundant-gun-controls/article_c1f810fa-e3bf-5844-9b42-36ee48e1e9bf.html">Bakersfield Californian</a><br>
					[10] <a id='10' target='_blank' href="https://www.bu.edu/today/2016/gun-control-laws/">BU study says state laws are not the answer</a><br>
					{% include 'disclaimer.html' %}
				</div>
			</div>
		</div>
		{% include 'jump-nav.html' %}

	</div>

{% endblock content%}
