imgpath: ../../static/img/64
indexpath: ..
<!-- PROP 64 -->

{% extends "base.html" %}
{% block fbtags %}
<meta property="og:url" content="http://ballot.fyi/64/" />

{% endblock fbtags %}

{% block title %}California State Propositions – The Quick Guide to Vote Better And Harder | Prop 64{% endblock title %}
{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p64-color"></div>
	<div class="prop-banner-img p64-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p64-comp-color">64</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">legalizes marijuana, yada yada yada</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Summary</div>
				<div class="prop-text">This legalizes, for people 21 and over, recreational marijuana sale and use, with taxation and regulation. There's plenty of <a target="_blank" href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=64&year=2016">details</a> on what's legal and illegal, so we'll break it down for you and then get into the debate of it.
				</div>
				
				<div class="prop-subtitle">Growing</div>
				<div class="prop-text">
				<ul>
					<li>It's legal to grow up to 6 plants in a private home. Illegal if it is unlocked or visible from a public place.</li>
					<li>If being sold, the cultivation is taxed at $9.25/oz of dried flowers, or $2.75/oz of dried leaves.</li>
				</ul>
				</div> 	

				<div class="prop-subtitle">Selling &amp; purchasing</div>
				<div class="prop-text">
				<ul>
					<li>Businesses and delivery services (yes, delivery services) would need to be state-licensed, including existing medical marijuana collectives.</li>
					<li>Businesses that sell weed wouldn't be able to sell tobacco or alcohol, and can't be located near children-y places like schools or day-care center.</li>
					<li>Edibles may not be in the form of a food that could be easily confused with another or appealing to children, like gummy bears and maybe brownies (TBD!).</li>
					<li>Businesses could have on-site weed consumption, but cannot do it in public sight.</li>
					<li>At point of sale, customer is taxed 15% on any medical and nonmedical marijuana products.</li>
					<li>Counties and cities could impose their own taxes and restrictions (except ban it), like their own licenses or where businesses could open up.</li>
					<li>Several different regulatory agencies would now regulate distribution, water usage, testing, pesticide use, envrionmental impact, labelling, packaging, and advertising, to name a few.</li>
				</ul>
				</div> 

				<div class="prop-subtitle">Using</div>
				<div class="prop-text">
				<ul>
					<li>Smoking is a-okay in a private home or at a business licensed for on-site consumption.</li>
					<li>Smoking is illegal while driving, in any public place, or anywhere where smoking tobacco is already prohibited (e.g. restaurants, bars, planes, etc).</li>
				</ul>
				</div>
			</div>
		</div>

		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Two friends</div>
				<section>
				    <div class="from-them">
						and that's why she left me.
				    </div>
				    <div class="from-them">
						btw, Prop 64, legal mary j? What do you think?
				    </div>
					<div class="clear"></div>
				    <div class="from-me">
				      Prohibition definitely doesn't work. There's that app to get a medical card. But there are two big reasons I don't think Prop 64 is a good idea.
				    </div>
				    <div class="from-me">
				      Driving and teens.
				    </div>
				  <div class="clear"></div>
				    <div class="from-them">
						Yea, both suck. FOR SURE.
				    </div>
				  <div class="clear"></div>
				    <div class="from-me">
				      Yea. Have you ever driven high?
				    </div>
				   <div class="clear"></div>
				    <div class="from-them">
						With kids in the back? No. Just by myself. Almost hit my grandma.
				    </div>
				   <div class="clear"></div>
				    <div class="from-me">
				      Was she driving?
				    </div>
				    <div class="from-them">
				      No she was also high. Arthritis.
				    </div>
				  <div class="clear"></div>
				    <div class="from-me">
				      Fatalities in Washington from driving high have doubled since it was passed in 2012. Can you imagine people on the 101 high?
				    </div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://newsroom.aaa.com/2016/05/fatal-road-crashes-involving-marijuana-double-state-legalizes-drug/">[..]</a></div>
				  <div class="clear"></div>
				    <div class="from-them">
				     Corpses everywhere. But come on, this is CA. Do you think it'll be any different than it is now? 
				    </div>
				  <div class="clear"></div>
				    <div class="from-me">
						If there are easier ways to get it, yea definitely. There's also no FDA-approved breathalyzer yet, so no way to enforce it, and people know that.
					</div>
				    <div class="prop-chat-source source-right"><a href="http://hightimes.com/medicinal/science/scientists-edge-closer-to-a-marijuana-breathalyzer/">[..]</a></div>
				    <div class="from-them">
				      When it's legalized, dosage will be more controlled and regulated, and there'll be delivery services to get you weed. Why drive?
				    </div>
				  <div class="clear"></div>
				    <div class="from-me">
				     The munchies are real. In 'n out is always a drive away.
				    </div>
				    <div class="from-me">
				     The other issue: kids. who cares if you fuck up your life, but I don't want my habits affecting stupid kids.
				    </div>
				  <div class="clear"></div>
				    <div class="from-them">
						The law clearly says it's only legal for people over 21, and plenty of protections from kids.
				    </div>
				  <div class="clear"></div>
				    <div class="from-me">
						But it's been shown in Colorado and Washington, that when its legalized, usage in youth increases. By a lot.
					</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://www.rmhidta.org/html/FINAL%20NSDUH%20Results-%20Jan%202016%20Release.pdf">[..]</a></div>
				  <div class="clear"></div>
				    <div class="from-them">
						That's bullshit.
				    </div>
				  <div class="clear"></div>
				    <div class="from-me">
						Nope, true. And smoking in adolescence seriously hurts their minds.
					</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://www.apa.org/monitor/2015/11/marijuana-brain.aspx">[..]</a></div>
				  <div class="clear"></div>
				    <div class="from-them">
						Whoops. But money from regulating this would go towards educating children against weed. And there are restrictions against advertising to minors.
				    </div>
				    <div class="prop-chat-source source-left"><a href="#3">[3]</a></div>
				  <div class="clear"></div>
				    <div class="from-me">
						Did that work for you?
					</div>
				  <div class="clear"></div>
				    <div class="from-them">
						Touché. But isn't there a parallel with tobacco? It's basically a sin to smoke cigarettes now. If we legalized marijuana, it'd be easier to discourage through regulation and taxes.
				    </div>
				  <div class="clear"></div>
				    <div class="from-me">
						Maybe, but after how many generations? 
					</div>
				     <div class="clear"></div>
				    <div class="from-them">
				      I don't know dude, but I do know the status quo isn't working either.
				    </div>
				  </section>
			</div>
		</div>
		
		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">More reading</div>
				<div class="prop-sources">
					Information last updated: Oct 2, 2016<br><br>
					<div class="prop-sources-title">Mostly impartial information</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop64">Full text of the proposition</a><br>
					[2] <a id='2' target='_blank' href="https://ballotpedia.org/California_Proposition_64,_Marijuana_Legalization_(2016)">Ballotpedia details</a><br>
					[3] <a id='3' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=64&year=2016">Legislative Analyst's Office summary</a><br>
					[4] <a id='4' target='_blank' href="https://ww2.kqed.org/forum/2016/09/29/is-marijuana-safe-enough-to-legalize-for-recreational-use/">KQED Podcast, live debate</a><br>
					<div class="prop-sources-title">Arguments FOR Prop 64</div>
					[5] <a id='5' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-proposition-64-20160918-snap-story.html">LA Times</a><br>
					[6] <a id='6' target='_blank' href="http://www.modbee.com/opinion/editorials/article103444397.html">Modesto Bee</a><br>
					[7] <a id='7' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Chronicle-recommends-Legalize-marijuana-Yes-on-9223733.php">SF Chronicle</a><br>
					<div class="prop-sources-title">Arguments AGAINST Prop 64</div>
					[8] <a id='8' target='_blank' href="http://www.sacbee.com/opinion/editorials/article102380352.html">Sac Bee</a><br>
					[9] <a id='9' target='_blank' href="http://www.signalscv.com/section/32/article/156039/">Santa Clarita Valley Signal</a><br>
					[10] <a id='10' target='_blank' href="http://www.fresnobee.com/opinion/editorials/article102367627.html">Fresno Bee</a><br>
					[11] <a id='11' target='_blank' href="http://www.cadca.org/resources/2014-national-survey-drug-use-and-health-finds-marijuana-use-continuing-rise-among-youth">Marijuana use continues to rise in youth</a>
					{% include 'disclaimer.html' %}

				</div>
			</div>
		</div>

	</div>

{% endblock content%}
