imgpath: ../../static/img/65
indexpath: ..
<!-- PROP 65//67 -->

{% extends "base.html" %}
{% block fbtags %}
<meta property="og:url" content="http://ballot.fyi/65-67/" />

{% endblock fbtags %}

{% block title %}California State Propositions – The Quick Guide to Vote Better And Harder | Prop 65 &amp; 67{% endblock title %}
{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p65-color"></div>
	<div class="prop-banner-img p65-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p65-comp-color">67+65</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">bans plastic bags and redirects money</div>
			</div>
		</div>
		
		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="center-text prop-title">Summary</div>
				<div class="prop-text">Voting Yes on 67 ratifies the statewide ban on single-use plastic bags that the State has already passed. Voting No blocks the statewide ban, but city bans would remain in place.<br><br>

				But it gets tricky with 65. Prop 65 could negate 67 if it gets more Yes votes, even though the title doesn't sound like it would.</div>
			</div>
		</div>
				<div class="row">
				<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
					<img class="prop-inline-img" src="{{imgpath}}/outcomes.png">
					<div class="inline-img-caption">Graphic provided by the Legislative Analyst's Office<sup><a href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=67&year=2016">[..]</a></sup></div>
				</div>
				</div>
		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="center-text prop-title">Here's what others say</div>
				<div class="prop-text">The LA Times <a target="_blank" href="http://www.latimes.com/opinion/editorials/la-ed-plastic-bag-propositions-20160908-snap-story.html">supports</a> the measure, blasting the plastic bag industry and citing the gains environmentally after local bans. If you want to hear the plastic side's argument, we would recommend this KQED <a target="_blank" href="http://elections.kqed.org/article/2010101856852/environmentalists-and-plastic-bag-industry-face-off-over-propositions-65-and-67">live debate podcast</a>. And it's <a href="http://www.politifact.com/california/statements/2016/oct/03/no-67/whats-bag-fee-environment-opponents-not-one-penny/">mostly true</a> that the dime you pay for bags doesn't go to environmental causes.
				<br><br>
				Since this is such a big issue we want to make sure we're doing our due diligence on this one. We'll be back shortly to distill this for you. <a href="https://tinyletter.com/ballotfyi">Subscribe</a> to stay up to date and follow us on <a target="_blank" href="https://www.instagram.com/ballotfyi/">Instagram</a> to get the information in smaller bites.
				</div>
			</div>
         
		</div>
	</div>


{% endblock content%}
