imgpath: ../../static/img/65
indexpath: ..
<!-- PROP 65//67 -->

{% extends "base.html" %}
{% block fbtags %}
<meta property="og:url" content="http://ballot.fyi/65-67/" />

{% endblock fbtags %}

{% block title %}California State Propositions – The Quick Guide to Vote Better And Harder | Prop 65 &amp; 67{% endblock title %}
{% block content %}


	<div class="header-spacer"></div>
	<div class="prop-angled-bg p65-color"></div>
	<div class="prop-banner-img p65-img"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4 col-xs-offset-0 col-xs-4">
				<div class="prop-num p65-comp-color">67+65</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="prop-title-summary">bans plastic bags and redirects the 10 cents</div>
			</div>
		</div>
		
		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Summary</div>
				<div class="prop-text">Prop 67 asks voters to decide once and for all whether there should be a statewide ban on plastic bags. A Yes ratifies a ban that was passed by the state legislature in 2014 (aka SB270). A No overturns it.<br><br>Prop 65 decides where the bag fee goes — at both the state and local level. Instead of allowing grocers to keep the 10 cents you pay per bag, that money goes into a yet-to-established statewide environmental fund. A Yes diverts money from grocers. A No allows grocers to keep the dime.<br><br>But because life is hard, there's a teeny clause in 65 that might cause problems for 67. <em>Dun dun dun!</em></div>

				<div class="prop-factors-section">
					<span class="prop-factors">Complexity of issue: </span><span class="emoji">🤔🤔🤔🤔<span class="faded">🤔</span></span><br>
					<span class="prop-factors">Money involved: </span><span class="emoji">💸💸💸💸<span class="faded">💸</span></span><br>
					<span class="prop-factors">Lopsided support? </span><span class="prop-factor-answers">Most residents support 67, Newspapers overwhelmingly support 67, and oppose 65</span><br>
				</div>
			</div>
		</div>


		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">What's Prop 65?</div>
				<div class="prop-text">
				Prop 65 redirects the bag fees to an environmental fund. Under SB270 and local laws, grocers themselves are allowed to keep the proceeds of the bag fees to cover the cost of providing those bags, as well as to educate consumers about the benefits of using recyclable bags. Prop 65 would instead require all that money, from both local and state bans, to go to the <em>Environmental Protection and Enhancement Fund</em>, whose money would go to environmental protection and cleanup efforts, and would be managed by the Wildlife Conservation Fund.<sup><a href="#3">[3]</a></sup> <br><br>
				Notably, the American Progressive Bag Alliance, an industry group representing plastic bag manufacturers, put up both Prop 67 and 65. (Hint: they don't want a plastic bag ban.) Some argue that the intention is to confuse voters.<sup><a href="#9">[9]</a></sup> 
				<br><br>
				The California Grocers Association, on the other hand, supports enacting a plastic bag ban,<sup><a target="_blank" href="http://www.cagrocers.com/communications/publications/california-grocer/presidents-message/">[..]</a></sup>but do not support Prop 65, and support for the ban diminishes if they can't keep the proceeds from the bag fee.
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<img class="prop-inline-img" src="{{imgpath}}/outcomes.png">
				<div class="inline-img-caption">Graphic provided by the Legislative Analyst's Office<sup><a href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=67&year=2016">[..]</a></sup></div>
			</div>
		</div>

		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">And if both 65 and 67 pass?</div>
				<div class="prop-text">
				If Prop 67 passes, plastic bags are banned and grocers charge 10 cents per paper bag. If 65 passes, an environmental fund gets those 10 cents. However, if both pass and 65 ends up with <em>more</em> Yes votes than 67, then a clause could make things weird.
				<br><br>
				Prop 65, Section 6 reads in part: “In the event that this measure receives a greater number of affirmative votes, the provisions of this measure shall prevail in their entirety, <em>and the provisions of the other measure or measures shall be null and void</em>.” (emphasis added). This could be interpreted by a court to mean that Prop 67 can’t be enforced.<sup><a href="#3">[3]</a></sup> So even if Prop 67 passes, the statewide plastic bag ban could be struck down by 65. It's impossible to know that a court would interpret the language this way, but voters hoping to keep the plastic bag ban alive may not want to take the risk, and should vote No on 65.
 
				</div>
			</div>
		</div>
		<div class=row>
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Didn't we already do this?</div>
				<div class="prop-text"> California indeed passed the law to ban plastic bags, becoming the <a target="_blank" href="http://www.latimes.com/local/political/la-me-pc-gov-brown-signs-phaseout-of-singleuse-plastic-bags-in-stores-20140929-story.html">first</a> state to do so. The ban was supposed to take effect in July 2015, but the American Progressive Bag Alliance gathered enough signatures to put the plastic bag ban to a <a target="_blank" href="http://money.cnn.com/2015/02/25/news/california-plastic-bag-ban-delay/">vote</a> on this ballot (aka a referendum). 
				<br><br>
				If you're in one of the <a target="_blank" href="http://www.cawrecycles.org/list-of-local-bag-bans/">151</a> cities and counties across the state that have already banned plastic bags similar to how SB270 would, then Prop 67 can't change your local ban. If the statewide ban fails, local bans stay in effect. But because of what we said above, the number of Yes votes on 67 matter, so your vote is pretty damn important.
				</div>
			</div>
		</div>


		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
				<div class="prop-title">Abridged, fact-checked rendition of a KQED podcast <a target="_blank" href="http://elections.kqed.org/articles/2010101856852/environmentalists-and-plastic-bag-industry-face-off-over-propositions-65-and-67">debate</a>**</div>
				<section>
				    <div class="from-me">151 cities and counties are already enjoying the environmental benefits of banning plastic bags. Less litter, no bags in waterways.</div>
				    <div class="prop-chat-source source-right"><a href="#8">[8]</a></div>
					<div class="clear"></div>
				    <div class="from-them">Huntington Beach rescinded their ban. Plastic bags are recyclable, made from natural gas, make up less than 2% of the litter, and 1.5% of the waste generation in the US.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.latimes.com/local/lanow/la-me-ln-plastic-bag-ban-repealed-in-huntington-beach-20150506-story.html">[LA]</a></div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="https://www.epa.gov/sites/production/files/2015-09/documents/2013_advncng_smm_rpt.pdf">[EPA]</a></div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.erplanning.com/uploads/PR_Bags_-_2015_Litter_Survey_Rankings.pdf">[..]</a></div>
					<div class="clear"></div>
				    <div class="from-me">They are only recyclable at the grocery store in those special bins. The EPA says specifically to keep plastic bags out of recycling containers. They can shut an entire line down. Besides, people don't recycle them.</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://www.calrecycle.ca.gov/Plastics/AtStore/">[..]</a></div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="https://www.epa.gov/sites/production/files/2015-09/documents/changng_wste_stream.pdf">[..]</a></div>
					<div class="clear"></div>
				    <div class="from-them">Isn't that a consumer education problem? Many are reused.</div>
					<div class="clear"></div>
				    <div class="from-me">LA and has seen a 90% drop in single-use bag usage, showing a marked shift in consumer behavior towards resuable bags.</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="http://dpw.lacounty.gov/EPD/ABOUTTHEBAG/ANNOUNCEMENTS.CFM">[..]</a></div>
					<div class="clear"></div>
				    <div class="from-them">Paper bags use more natural resources, and thicker "reusable" bags need to be used hundreds of times to make up for their environmental footprint.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.wsj.com/articles/SB124473522987806581">[..]</a></div>
				    <div class="prop-chat-source source-left"><a target="_blank" href="http://www.theatlantic.com/technology/archive/2016/09/to-tote-or-note-to-tote/498557/">[..]</a></div>
					<div class="clear"></div>
				    <div class="from-me">Paper bags get recycled more. Again, when there's a bag fee, people use reusable bags.</div>
					<div class="clear"></div>
				    <div class="from-them">If you want to help the environment, vote for Prop 65 and send money that way.</div>
					<div class="clear"></div>
				    <div class="from-me">Voters won't fall for your scheme to confuse them.</div>
					<div class="clear"></div>
				    <div class="from-them">57% of people agree that the money from bag fees should go to help the environment.</div>
				    <div class="prop-chat-source source-left"><a target="_blank" ref="http://www.plasticsnews.com/article/20160819/NEWS/160819781/survey-californians-want-bag-fee-to-go-to-environmental-programs-not">[..]</a></div>
					<div class="clear"></div>
				    <div class="from-me">Yeah no, not if it's going to negate the plastic ban. That poll was conducted by the plastics industry.</div>
				    <div class="from-me">Most Californians agree plastic bags should be banned, and every major newspaper supports our cause and sees through Prop 65.</div>
				    <div class="prop-chat-source source-right"><a target="_blank" href="https://news.usc.edu/70472/usc-dornsifela-times-poll-californians-strongly-back-plastic-grocery-bag-ban/">[..]</a></div>
					<div class="clear"></div>
				</section>
					<div class="prop-sources">
					<sup>**</sup><em>Note: if you do listen to the podcast, be wary. We found many inconsistencies when we fact-checked. For example, the claim that plastic use will increase as a result of the ban, is not from <a target="_blank" href="http://www.ocregister.com/articles/bag-719599-bags-reusable.html">Mark Simpson</a>, an independent analyst. It is from the <a target="_blank" href="http://www.plasticsnews.com/article/20160919/NEWS/160919834/analysis-bag-ban-could-up-plastic-use">American Progressive Bag Alliance</a>.</em>
					</div>
			</div>
		</div>

		<div class="line-division"></div>
		<div class="row">
			<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-xs-offset-0 col-xs-12">
				<div class="prop-title">More reading</div>
				<div class="prop-sources">
					Information last updated: Oct 8, 2016<br><br>
					<div class="prop-sources-title">Mostly impartial information</div>
					[1] <a id='1' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop65">Full text of the Prop 65</a><br>
					[2] <a id='2' target='_blank' href="http://vig.cdn.sos.ca.gov/2016/general/en/pdf/text-proposed-laws.pdf#prop67">Full text of the Prop 67</a><br>
					[3] <a id='3' target='_blank' href="https://ballotpedia.org/California_Proposition_65,_Dedication_of_Revenue_from_Disposable_Bag_Sales_to_Wildlife_Conservation_Fund_(2016)">Ballotpedia details of 65</a><br>
					[4] <a id='4' target='_blank' href="https://ballotpedia.org/California_Proposition_67,_Plastic_Bag_Ban_Veto_Referendum_(2016)">Ballotpedia details of 67</a><br>
					[5] <a id='5' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=65&year=2016">Legislative Analyst's Office summary of 65</a><br>
					[6] <a id='6' target='_blank' href="http://www.lao.ca.gov/BallotAnalysis/Proposition?number=67&year=2016">Legislative Analyst's Office summary of 67</a><br>
					[7] <a id='7' target='_blank' href="http://elections.kqed.org/article/2010101856852/environmentalists-and-plastic-bag-industry-face-off-over-propositions-65-and-67">KQED Podcast, live debate</a><br>
					[8] <a id='8' target='_blank' href="http://www.politifact.com/california/statements/2016/oct/03/no-67/whats-bag-fee-environment-opponents-not-one-penny/">Politifact: half true that bag fees don't go to environment</a><br>

					<div class="prop-sources-title">Major editorials concerning both props</div>
					[9] <a id='9' target='_blank' href="http://www.latimes.com/opinion/editorials/la-ed-plastic-bag-propositions-20160908-snap-story.html">LA Times: Yes 67, No 65</a><br>
					[10] <a id='10' target='_blank' href="http://www.sacbee.com/opinion/editorials/article105050231.html">Sac Bee: Yes 67, No 65</a><br>
					[11] <a id='11' target='_blank' href="http://www.fresnobee.com/opinion/editorials/article105248296.html">Fresno Bee: Yes 67, No 65</a><br>
					[12] <a id='12' target='_blank' href="http://www.sfchronicle.com/opinion/editorials/article/Chronicle-recommends-Yes-on-Prop-67-No-on-9187312.php">SF Chronicle: Yes 67, No 65</a><br>
					[13] <a id='13' target='_blank' href="http://www.mercurynews.com/2016/07/21/mercury-news-editorial-make-california-bag-ban-permanent/">Mercury news: Yes 67, No 65</a><br>
					{% include 'disclaimer.html' %}

				</div>
			</div>
		</div>
	

	</div>


{% endblock content%}
