imgpath: ../../static/img/index
indexpath: .
<!-- INDEX -->

{% extends "base.html" %}
{% block content %}


<!-- intro -->
<div class="intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-4 col-md-offset-1 col-md-5 col-xs-offset-0 col-xs-12">
				<h1>The quickest nonpartisan voter guide you'll find –<br>Get educated about California's state propositions</h1>
			</div>
			<div class="col-lg-4 col-md-5 col-xs-offset-0 col-xs-12">
				<div class="index-intro-small">We're tired of Donald v Hillary coverage. There are other very important issues at stake. State propositions that affect you – like weed, plastic bags, and porn – are up for vote. So it turns out your California vote is important <a href="" class="acronym" data-expanded='as f***' id='af'>AF</a>.<br><br>We know you're busy, and we don't expect you to read all this in one go, so <a href="https://tinyletter.com/ballotfyi">subscribe</a> to our digest or <a target="_blank" href="https://www.instagram.com/ballotfyi/">follow</a> on Instagram. We're here to give you everything you'll need on the California state propositions. Quickly and objectively, so you can vote smarter and harder.</div>
				<div id="props"></div>
			</div>
		</div>
	</div>
</div>


<!-- PROP 60 -->
<div class="index-prop-section p60-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/60">
				<div class="index-prop-title">Prop 60 requires pornstars to wear condoms (during sex)</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/banana.png"></div>
				<div class="index-prop-subtitle">Seems like a good idea, so why is everybody against it?</div>
				</a>
				<div class="index-prop-num">60</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 62 & 66 -->
<div class="index-prop-section p62-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
			<a href="{{indexpath}}/62-66">
				<div class="index-prop-title">prop 62 & 66 either repeals or speeds up the death penalty</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/syringe.png"></div>
				<div class="index-prop-subtitle">If both pass, the one with the most votes determines the future of the death penalty.</div>
			</a>
			<div class="index-prop-num">62 &amp 66</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 64 -->
<div class="index-prop-section p64-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/64">
				<div class="index-prop-title">prop 64 legalizes mar!juana</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/marijuana-leaf.png"></div>
				<div class="index-prop-subtitle">If this passes, guess how many plants you'd be allowed to grow at home.</div>
				</a>
				<div class="index-prop-num">64</div>

			</div>
		</div>
	</div>
</div>


<!-- PROP 51 -->
<div class="index-prop-section p51-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/51">
				<div class="index-prop-title">Prop 51 makes $9B to build and improve schools</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/schoolbus.png"></div>
				<div class="index-prop-subtitle">Fiscally, the biggest measure on the ballot. $9B + $8B interest = $17,000,000,000 total.</div>
				</a>
				<div class="index-prop-num">51</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 63 -->
<div class="index-prop-section p63-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/63">
				<div class="index-prop-title">Prop 63 prohibits owning big ammo</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/ak-47.png"></div>
				<div class="index-prop-subtitle">Instant background checks and all-around stricter laws on ammunition.</div>
				</a>
				<div class="index-prop-num">63</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 55 -->
<div class="index-prop-section p55-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/55">
				<div class="index-prop-title">Prop 55 extends an income tax for high income earners</div>
				<div class="index-prop-img"><img class='index-make-smaller' src="{{imgpath}}/monopoly-car.png"></div>
				<div class="index-prop-subtitle">Do you know what tax bracket you fall under?</div>
				</a>
				<div class="index-prop-num">55</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 54 -->
<div class="index-prop-section p54-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/54">
				<div class="index-prop-title">Prop 54 requires that before voting, bills be put on the internet</div>
				<div class="index-prop-img"><img class='index-make-smaller'src="{{imgpath}}/mac.png"></div>
				<div class="index-prop-subtitle">You know, because 2016.</div>
				</a>
				<div class="index-prop-num">54</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 56 -->
<div class="index-prop-section p56-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/56">
				<div class="index-prop-title">Prop 56 increases the tobacco tax by $2</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/cigarettes.png"></div>
				<div class="index-prop-subtitle">This will also loop in the currently untaxed, but increasingly popular, e-cigarettes.</div>
				</a>
				<div class="index-prop-num">56</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 65 -->
<div class="index-prop-section p65-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/65-67">
				<div class="index-prop-title">prop 67 &amp; 65 bans plastic bags statewide and decides who gets that dime</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/plastic-bag.png"></div>
				<div class="index-prop-subtitle">There's only six possible scenarios. The Plastic Bag lobby wants all but two.</div>
				</a>
				<div class="index-prop-num">67 &amp; 65</div>

			</div>
		</div>
	</div>
</div>
<!-- PROP 53 -->
<div class="index-prop-section p53-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/53">
				<div class="index-prop-title">Prop 53 requires state infrastructure projects over $2B to be voter approved</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/checkbook.png"></div>
				<div class="index-prop-subtitle">This could put a stop to the SF to LA Bullet Train.</div>
				</a>
				<div class="index-prop-num">53</div>

			</div>
		</div>
	</div>
</div>


<!-- PROP 57 -->
<div class="index-prop-section p57-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/57">
				<div class="index-prop-title">Prop 57 makes it easier for nonviolent offenders to get parole</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/hamburglar.png"></div>
				<div class="index-prop-subtitle">It's a thin line between violent and non-violent. (The Hamburglar definitely straddles that line)</div>
				</a>
				<div class="index-prop-num">57</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 52 -->
<div class="index-prop-section p52-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/52">
				<div class="index-prop-title">Prop 52 continues a mechanism that makes money for hospitals</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/ambulance.png"></div>
				<div class="index-prop-subtitle">Somehow hospitals make over $3 billion by doing this one thing.</div>
				</a>
				<div class="index-prop-num">52</div>

			</div>
		</div>
	</div>
</div>


<!-- PROP 58 -->
<div class="index-prop-section p58-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/58">
				<div class="index-prop-title">Prop 58 gives local control on how to teach English-learners</div>
				<div class="index-prop-img"><img class="" src="{{imgpath}}/rosetta.png"></div>
				<div class="index-prop-subtitle">1.4 million students (1 in 5) aren't fluent in English. How should they learn English?</div>
				</a>
				<div class="index-prop-num">58</div>

			</div>
		</div>
	</div>
</div>

<!-- PROP 61 -->
<div class="index-prop-section p61-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/61">
				<div class="index-prop-title">Prop 61 lowers the drug costs for state agencies</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/bottles.png"></div>
				<div class="index-prop-subtitle">In terms of campaign spending, this is the most expensive ballot measure in state history.</div>
				</a>
				<div class="index-prop-num">61</div>

			</div>
		</div>
	</div>
</div>


<!-- PROP 59 -->
<div class="index-prop-section p59-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-xs-offset-0 col-xs-12">
				<a href="{{indexpath}}/59">
				<div class="index-prop-title">Prop 59 tells the state government what you think about Citizens United</div>
				<div class="index-prop-img"><img class="index-make-smaller" src="{{imgpath}}/corporation.png"></div>
				<div class="index-prop-subtitle">Pass or fail, this measure literally has no legal impact.</div>
				<div class="index-prop-num">59</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="index-bottom col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
			<h2>So much proposition, I know. Follow us on <a target="_blank" href="https://www.instagram.com/ballotfyi/">Instagram</a> to stay up to date.</h2>
		</div>
	</div>
</div>

{% endblock content%}
