<!doctype html>
<html>
<head>
	<!-- Hello! Thanks for taking a peek under the covers. Please make sure you're registered to vote. -->
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://s3.amazonaws.com/ballot.fyi/static/img/share.png" />
	<meta property="og:locale" content="en_US" />
	<meta property="fb:app_id" content="1134187086655814" />
	{% block fbtags %}
	<meta property="og:url" content="http://ballot.fyi" />
	<meta property="og:title" content="California's Propositions might affect you more than Trump v Hillary" />
	<meta property="og:description" content="Weed, plastic bags, guns, condoms  – it's up to you. This is the quickest non-partisan guide to California's state propositions." />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@ballotfyi" />
	<meta name="twitter:title" content="Quickest, nonpartisan voter guide to California's state propositions" />
	<meta name="twitter:description" content="Weed, plastic bags, guns, condoms  – it's up to you. This is the quickest non-partisan guide to California's state propositions." />
	<meta name="twitter:image" content="https://s3.amazonaws.com/ballot.fyi/static/img/share-twitter.png" />	
	{% endblock fbtags %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="We're here to give you the non-partisan guide to all of the California statewide ballot propositions. Concisely and objectively. Weed, death penalty, plastic bags – it's up to you.">
	<meta name="keywords" content="California state propositions, voter guide, nonpartisan">
	<meta name="author" content="Citizen & Citizens">
	<link rel="canonical" href="{{ CURRENT_PAGE.absolute_final_url }}" />
	<link rel="shortcut icon" href="{% static '/img/favicon.ico' %}">
	
	<link rel="apple-touch-icon-precomposed" href="{% static '/img/apple-touch-icon-precomposed.png' %}"><!-- 57×57px -->
	<link rel="icon" sizes="192x192" href="{% static '/img/touch-icon-192x192.png' %}">

	{% block stylesheets %}
		{% include 'stylesheets.html' %}
	{% endblock stylesheets%}

	{% block header %}
	<title>{% block title %}California State Propositions – The Quick Guide to Vote Better and Harder{% endblock title %}</title>
	{% endblock header %}

</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1134187086655814";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<nav role="navigation" class="needsclick navbar navbar-fixed-top navbar-justified">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand needsclick logo" href="{{indexpath}}">ballot.fyi</a>
	    </div>
		<div class="collapse navbar-collapse needsclick" id="nav">
	      <ul class="nav navbar-nav navbar-right needsclick">
	        <li class="header-button"><a href="{{indexpath}}#props">the issues</a></li>
	        <li class="header-button"><a href="{{indexpath}}/about">about</a></li>
	        <li class="header-button"><a href="{{indexpath}}/takeaction">do something</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>	
	{% block content %}
	{% endblock content %}
	<div class="line-division"></div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-insta col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-0 col-xs-12">
					<h2>Stay up to date on these issues: follow us on <a target="_blank" href="https://www.instagram.com/ballotfyi/">Instagram</a></h2>
				</div>
			</div>
			<div class="row">
				<div class="social">
				<div class="fb-like" data-href="http://ballot.fyi" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ballot.fyi/" data-lang="en" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

				<div class="col-lg-offset-3 col-lg-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">Site designed &amp; built by <a href="{{indexpath}}/about#citzens">Citizen &amp; Citizens</a> &copy; 2016</a> <br> 
				We'll be updating the website constantly until Nov 8.<br>
				<a href="{{indexpath}}/terms">terms of service</a> • 
				<a href="{{indexpath}}/about">about</a> • 
				<a href="https://www.instagram.com/ballotfyi/">instagram</a> • 
				<a href="{{indexpath}}/takeaction">do something</a>
				</div>
			</div>
		</div>
	</div>

	{% block scripts %}
		{% include 'scripts.html' %}
	{% endblock scripts%}
</body>
</html>
