<div class="global-nav">
	<div class="row">
		<div class="centered col-xs-offset-0 col-xs-12">
			<div class="prop-sources-title">Jump to:</div><br>
			<a alt="" href="{{indexpath}}/{{prevnum}}">⬅️</a>&nbsp;
			<a alt="$9B for schools" href="{{indexpath}}/51">51</a>
			<a alt="Money for hospitals" href="{{indexpath}}/52">52</a>
			<a alt="vote to approve large infrastructure projects" href="{{indexpath}}/53">53</a>
			<a alt="freezes bills before voting" href="{{indexpath}}/54">54</a>
			<a alt="extends income tax" href="{{indexpath}}/55">55</a>
			<a alt="increases tobacco tax" href="{{indexpath}}/56">56</a>
			<a alt="Credit system for nonviolent criminals" href="{{indexpath}}/57">57</a>
			<a alt="Local control on how to teach English" href="{{indexpath}}/58">58</a>
			<a alt="Your opinion about Citizens United" href="{{indexpath}}/59">59</a>
			<a alt="Pornstars wearing condoms" href="{{indexpath}}/60">60</a>
			<a alt="Drug prices match VAs" href="{{indexpath}}/61">61</a>
			<a alt="Repeals death penalty" href="{{indexpath}}/62-66/">62</a>
			<a alt="Stricter ammunition laws" href="{{indexpath}}/63">63</a>
			<a alt="Legalizes weed" href="{{indexpath}}/64">64</a>
			<a alt="Diverts bag fee" href="{{indexpath}}/65-67/">65</a>
			<a alt="Speeds up death penalty" href="{{indexpath}}/62-66/">66</a>
			<a alt="Bans plastic bags" href="{{indexpath}}/65-67/">67</a>
			<a alt="" href="{{indexpath}}/{{nextnum}}">➡️</a>
		</div>
	</div>
</div>