<div class="global-nav">
	<div class="row">
		<div class="centered col-xs-offset-0 col-xs-12">
			<div class="prop-sources-title">Jump to:</div><br>
			<a href="{{indexpath}}/{{prevnum}}">⬅️</a>&nbsp;
			<a href="{{indexpath}}/51">51</a>
			<a href="{{indexpath}}/52">52</a>
			<a href="{{indexpath}}/53">53</a>
			<a href="{{indexpath}}/54">54</a>
			<a href="{{indexpath}}/55">55</a>
			<a href="{{indexpath}}/56">56</a>
			<a href="{{indexpath}}/57">57</a>
			<a href="{{indexpath}}/58">58</a>
			<a href="{{indexpath}}/59">59</a>
			<a href="{{indexpath}}/60">60</a>
			<a href="{{indexpath}}/61">61</a>
			<a href="{{indexpath}}/62-66/">62</a>
			<a href="{{indexpath}}/63">63</a>
			<a href="{{indexpath}}/64">64</a>
			<a href="{{indexpath}}/65-67/">65</a>
			<a href="{{indexpath}}/62-66/">66</a>
			<a href="{{indexpath}}/65-67/">67</a>
			<a href="{{indexpath}}/{{nextnum}}">➡️</a>
		</div>
	</div>
</div>